<style>
#main form p {
    margin-top: 10px;
    margin-bottom: 5px;
}
</style>
<h3 style="margin-top:10px;margin-bottom:20px;">大赛信息</h3>
<form action="{:U('Admin/contest_edit')}" method="post" class="form">
    <div class="form-group">
        <p>大赛名称</p>
        <input type="text" class="form-control" name="name" value="{$contest['name']}">
        <p>年份</p>
        <input type="text" class="form-control" name="year" value="{$contest['year']}">
        <p>费用</p>
        <input type="text" class="form-control" name="fee" value="{$contest['fee']}">
        <p>早鸟优惠截止时间</p>
        <input type="date" class="form-control" name="early_bird_time" value="{$contest['early_bird_time']}">
        <p>早鸟优惠费用</p>
        <input type="text" class="form-control" name="early_bird_fee" value="{$contest['early_bird_fee']}">
        <p>第一轮评审开始时间</p>
        <input type="date" class="form-control" name="judge_first_from" value="{$contest['judge_first_from']}">
        <p>第一轮评审结束时间</p>
        <input type="date" class="form-control" name="judge_first_to" value="{$contest['judge_first_to']}">
        <p>第二轮评审开始时间</p>
        <input type="date" class="form-control" name="judge_second_from" value="{$contest['judge_second_from']}">
        <p>第二轮评审结束时间</p>
        <input type="date" class="form-control" name="judge_second_to" value="{$contest['judge_second_to']}">
    </div>
    <button type="submit" class="btn btn-success">修改</button>
</form>
<div style="margin-top:20px;">
    <h3 style="margin-top:30px;margin-bottom:20px;">关闭比赛</h3>
    <if condition="$contest['open'] eq 1">
        <a href="" class="btn btn-danger" id="close">关闭</a>
        <a href="{:U('Admin/contest_close')}" class="btn btn-danger" id="close_again" style="display:none;">确定关闭？</a>
        <else/>
        <p>已关闭</p>
    </if>
    <p style="margin-top:15px;">所有用户无法再新建作品，并且所有已支付的作品都将自动更改为已提交</p>
    <p style="color:red;">请在需要关闭比赛的时候再点击</p>
</div>
<script>
$(document).ready(function() {
    $('#main #close').click(function() {
        event.preventDefault();
        $p = $(this);
        $p.hide();
        $p.siblings('a#close_again').show();
    });
});
</script>