<style>
#main {
    padding: 30px 6%;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main ul#admin-nav {
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 0;
}

#main ul#admin-nav p {
    margin-bottom: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

#main ul#admin-nav p:hover {
    cursor: pointer;
}

#main ul#admin-nav li {
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    padding: 8px 20px;
    padding-left: 30px;
    background-color: #eee;
}

#main ul#admin-nav a {
    text-decoration: none;
    color: #bbb;
}

#main ul#admin-nav a:hover {
    text-decoration: none;
    color: #888;
}

#main ul#admin-nav a:last-child {
    border-bottom: none;
}
</style>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <ul id="admin-nav">
            <p>比赛管理</p>
            <a href="{:U('Admin/contest_pay_confirm')}">
                <li>审核支付</li>
            </a>
            <a href="{:U('Admin/submissions')}">
                <li>作品管理</li>
            </a>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <p>欢迎来到系统管理员后台!</p>
        <p>点击左边相应选项进行操作 :)</p>
    </div>
</div>
<script>
</script>