<style>
#main {
    padding: 30px 6%;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main ul.admin-nav {
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 0;
    margin-bottom: 10px;
}

#main ul.admin-nav p {
    margin-bottom: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

#main ul.admin-nav p:hover {
    cursor: pointer;
}

#main ul.admin-nav li {
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    padding: 8px 20px;
    padding-left: 30px;
    background-color: #eee;
}

#main ul.admin-nav a {
    text-decoration: none;
    color: #bbb;
}

#main ul.admin-nav a:hover {
    text-decoration: none;
    color: #888;
}

#main ul.admin-nav a:last-child {
    border-bottom: none;
}

#main table {
    font-size: 12px;
}
</style>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <ul class="admin-nav">
            <p>比赛管理</p>
            <a href="{:U('Admin/contest_pay_confirm')}">
                <li>审核支付</li>
            </a>
            <a href="{:U('Admin/submissions')}">
                <li>作品管理</li>
            </a>
            <a href="{:U('Admin/judge_first')}">
                <li>第一轮评审</li>
            </a>
            <a href="{:U('Admin/judge_second')}">
                <li>第二轮评审</li>
            </a>
        </ul>
        <ul class="admin-nav">
            <p>用户管理</p>
            <a href="{:U('Admin/users')}">
                <li>所有用户</li>
            </a>
        </ul>
        <ul class="admin-nav">
            <p>网站管理</p>
            <a href="{:U('Admin/translations')}">
                <li>编辑翻译</li>
            </a>
        </ul>
        <ul class="admin-nav">
            <p>KOL管理</p>
            <a href="{:U('Admin/kol')}">
                <li>KOL统计</li>
            </a>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <h3 style="margin-top:10px;margin-bottom:20px;">第一轮评审</h3>
        <if condition="count($judges) eq 0">
            <a href="{:U('Admin/judge_first_assign')}" class="btn btn-default" style="color:#666;margin-bottom:20px;font-size:12px;">分配作品</a>
        </if>
        <table class="table table-hover">
            <tr>
                <th>评委邮箱</th>
                <th>需审核数量</th>
                <th>已完成数量</th>
            </tr>
            <foreach name="judges" item="v">
                <tr>
                    <td>{$v.email}</td>
                    <td>{$v.all}</td>
                    <td>{$v.finished}</td>
                </tr>
            </foreach>
        </table>
    </div>
</div>
<script>
</script>