<style>
#main table {
    font-size: 12px;
}

#main #stat {
    width: 100%;
    height: 250px;
}
</style>
<script src="__PUBLIC__/js/echarts.min.js"></script>
<script src="__PUBLIC__/js/macarons.js"></script>
<h3 style="margin-top:10px;margin-bottom:20px;">第二轮评审</h3>
<div>
    <a href="#" class="btn btn-danger" style="margin-bottom:10px;font-size:12px;" id="assign">清空现有评审并重新分配</a>
    <a href="{:U('Admin/judge_second_assign')}" class="btn btn-danger" style="margin-bottom:10px;font-size:12px;display:none;" id="reassign">你真的确定吗？</a>
    <p style="font-size:12px;color:#d9534f;margin-bottom:20px;">点击以上按钮将删除现有的全部评审记录，并重新分配作品，谨防误点！</p>
    <!-- <a href="{:U('Admin/judge_second_delete')}" class="btn btn-danger" style="margin-bottom:20px;margin-left:10px;font-size:12px;">清空评审</a> -->
</div>
<table class="table table-hover">
    <tr>
        <th>评委邮箱</th>
        <th>需审核数量</th>
        <th>已完成数量</th>
        <th>平均打分</th>
    </tr>
    <foreach name="judges" item="v">
        <tr>
            <td>{$v.email}</td>
            <td>{$v.all}</td>
            <td>{$v.finished}</td>
            <td>{$v.score}</td>
        </tr>
    </foreach>
</table>
<div id="stat">
</div>  
<script>
$(document).ready(function() {
    $('#assign').click(function(event) {
        event.preventDefault();
        $(this).hide();
        $('#reassign').show();
    });

    var stat = echarts.init(document.getElementById('stat'), 'macarons');
    var option = {
        title: {
            text: '第二轮评审进度统计',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['评审未完成', '0~30分', '30~60分', '60~90分']
        },
        series: [{
            name: '第二轮评审统计',
            type: 'pie',
            radius: '60%',
            center: ['50%', '55%'],
            data: [{
                value: {$stat['-1']},
                name: '评审未完成'
            }, {
                value: {$stat['0~30']},
                name: '0~30分'
            }, {
                value: {$stat['30~60']},
                name: '30~60分'
            }, {
                value: {$stat['60~90']},
                name: '60~90分'
            }],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    };
    stat.setOption(option);
});
</script>