<style>
#main table {
    font-size: 12px;
    margin-top: 20px;
}
</style>
<h3 style="margin-top:10px;margin-bottom:20px;">KOL统计</h3>
<form method="post" action="{:U('kol_add')}" class="form-inline">
    <p style="display:inline-block;margin-right:12px;">新增KOL推广链接</p>
    <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="姓名">
        <button class="btn btn-success" style="margin-left:12px;">添加</button>
    </div>
</form>
<table class="table table-hover">
    <tr>
        <th>KOL姓名</th>
        <th>推广链接</th>
        <th>浏览量</th>
        <th>报名数</th>
        <th>转化率</th>
        <th>操作</th>
    </tr>
    <foreach name="kol" item="v">
        <tr>
            <td>{$v.name}</td>
            <td>
                <a href="{$v.code}" target="_blank">点我访问</a>
                <input type="text" class="form-control" value="{$v.code}" style="width:200px;font-size:12px;margin-top:5px;">
            </td>
            <td>{$v.visit}</td>
            <td>{$v.pay}</td>
            <td>{$v.transform}</td>
            <td><a href="{:U('Admin/kol_delete', array('id'=>$v['id']))}">删除</a></td>
        </tr>
    </foreach>
</table>