<style>
#main table {
    font-size: 12px;
    margin-top: 20px;
}
</style>
<h3 style="margin-top:10px;margin-bottom:20px;">作品推广 <small>共{$count_paid}已支付 其中{$count_offline}线下支付 还有{$count_unpaid}未支付</small>
    <a href="{:U('Admin/promotion_export')}" style="margin-left:20px;margin-right:10px;font-size:12px;" class="btn btn-success">导出excel</a>
</h3>
<table class="table table-hover">
    <tr>
        <th>
            作品ID
        </th> 
        <th style="max-width:250px;">
            作品名称
            <br/>
            作者邮箱
        </th>
        <th style="max-width:210px;">
            推广服务
            <br/>
            购买时间
            <br/>
            服务费用
        </th>
        <th>
            是否支付
        </th>
        <th>
            操作
        </th>
    </tr>
    <foreach name="promotions" item="v">
        <tr>
            <td>
                {$v.submission_id}
            </td>
            <td style="max-width:250px;">
                {$v.titlee}
                <br/>
                {$v.titlec}
                <br/>
                {$v.email}
            </td>
            <td style="max-width:210px;">
                {$v.promotion}
                <br/>
                {$v.timestamp|date='Y-m-d H:i:s',###}
                <br/>
                RMB {$v.price}
            </td>
            <td>
                <if condition="$v['ispaied'] eq 1">
                    已支付
                </if>
                <if condition="$v['offline'] eq 1">
                    <br/>线下支付
                </if>
            </td>
            <td>
                <if condition="$v['ispaied'] eq 0">
                    <a href="{:U('Admin/promotion_mark_pay', array('id'=>$v['id']))}">已经线下<br/>支付成功</a>
                    <br/>
                    <br>
                    <a href="{:U('Admin/promotion_delete', array('id'=>$v['id']))}">删除未<br/>付款订单</a>
                </if>
            </td>
        </tr>
    </foreach>
</table>