<style>
#main table {
    font-size: 12px;
    margin-top: 20px;
}

#main #stat {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
}

#main input.form-control {
    width: 180px;
    position: absolute;
    top: -20px;
    right: 0;
}
</style>
<script src="__PUBLIC__/js/echarts.min.js"></script>
<script src="__PUBLIC__/js/macarons.js"></script>
<h3 style="margin-top:10px;margin-bottom:20px;">
    作品管理
    <a href="{:U('Admin/export_excel')}" style="margin-left:20px;margin-right:10px;font-size:12px;" class="btn btn-success">导出excel</a>
</h3>
<div id="stat">
</div>
<div style="position:relative;">
    <input type="text" class="form-control">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#notpaid" aria-controls="notpaid" role="tab" data-toggle="tab">未支付</a></li>
        <li role="presentation"><a href="#paid_but_notsubmitted" aria-controls="paid_but_notsubmitted" role="tab" data-toggle="tab">已支付未提交</a></li>
        <li role="presentation"><a href="#submitted" aria-controls="submitted" role="tab" data-toggle="tab">已提交</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="notpaid">
            <p style="margin-top:15px;">{$count1} 件未支付作品</p>
            <table class="table table-hover">
                <tr>
                    <th>作品中文名</th>
                    <th>作品英文名</th>
                    <th>作品类别</th>
                    <th>作者邮箱</th>
                    <th>作者公司</th>
                    <th>操作</th>
                </tr>
                <foreach name="notpaid" item="v">
                    <tr class="data">
                        <td>{$v.titlec}</td>
                        <td>{$v.titlee}</td>
                        <td>{$v.category}</td>
                        <td>{$v.email}</td>
                        <td>{$v.companyc}</td>
                        <td style="min-width:120px;">
                            <p><a href="{:U('User/submission', array('id'=>$v['id']))}">详情</a> <a href="{:U('Admin/delete_submission',array('id'=>$v['id']))}" style="margin-left:20px;">删除</a></p>
                            <p><a href="{:U('Admin/mark_as_paid', array('id'=>$v['id']))}">改为已支付</a></p>
                            <p><a href="{:U('Admin/mark_as_submitted', array('id'=>$v['id']))}">改为已提交</a></p>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="paid_but_notsubmitted">
            <p style="margin-top:15px;">{$count2} 件已支付未提交作品</p>
            <table class="table table-hover">
                <tr>
                    <th>作品中文名</th>
                    <th>作品英文名</th>
                    <th>作品类别</th>
                    <th>作者邮箱</th>
                    <th>作者公司</th>
                    <th>操作</th>
                </tr>
                <foreach name="paid_but_notsubmitted" item="v">
                    <tr class="data">
                        <td>{$v.titlec}</td>
                        <td>{$v.titlee}</td>
                        <td>{$v.category}</td>
                        <td>{$v.email}</td>
                        <td>{$v.companyc}</td>
                        <td style="min-width:120px;">
                            <p><a href="{:U('User/submission', array('id'=>$v['id']))}">详情</a></p>
                            <p><a href="{:U('Admin/mark_as_notpaid', array('id'=>$v['id']))}">改为未支付</a></p>
                            <p><a href="{:U('Admin/mark_as_submitted', array('id'=>$v['id']))}">改为已提交</a></p>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="submitted">
            <p style="margin-top:15px;">{$count3} 件已提交作品</p>
            <table class="table table-hover">
                <tr>
                    <th>作品中文名</th>
                    <th>作品英文名</th>
                    <th>作品类别</th>
                    <th>作者邮箱</th>
                    <th>作者公司</th>
                    <th>操作</th>
                </tr>
                <foreach name="submitted" item="v">
                    <tr class="data">
                        <td>{$v.titlec}</td>
                        <td>{$v.titlee}</td>
                        <td>{$v.category}</td>
                        <td>{$v.email}</td>
                        <td>{$v.companyc}</td>
                        <td style="min-width:120px;">
                            <p><a href="{:U('User/submission', array('id'=>$v['id']))}" target="_blank">详情</a></p>
                            <p><a href="{:U('Admin/mark_as_notpaid', array('id'=>$v['id']))}">改为未支付</a></p>
                            <p><a href="{:U('Admin/mark_as_notsubmitted', array('id'=>$v['id']))}">改为未提交</a></p>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#main input.form-control').keyup(function(event) {
        var keyword = $(this).val();
        if (keyword == '') {
            $('#main table .data').show();
        } else {
            $('#main table .data').each(function(index, el) {
                var flag = false;
                var $p = $(this);
                $p.children('td').each(function(i, e) {
                    if ($(this).text().indexOf(keyword) >= 0) {
                        flag = true;
                    }
                });
                if (flag) {
                    $p.show();
                } else {
                    $p.hide();
                }
            });
        }
    });

    var stat = echarts.init(document.getElementById('stat'), 'macarons');
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            },
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            top: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'category',
            splitLine: {
                show: false
            },
            data: {$category}[0]
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '数量',
            type: 'bar',
            data: {$category}[1]
        }]
    };
    stat.setOption(option);
});
</script>