<style>
#main {
    padding: 30px 6%;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main ul.admin-nav {
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 0;
    margin-bottom: 0;
}

#main ul.admin-nav p {
    margin-bottom: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

#main ul.admin-nav p:hover {
    cursor: pointer;
}

#main ul.admin-nav li {
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    padding: 8px 20px;
    padding-left: 30px;
    background-color: #eee;
}

#main ul.admin-nav a {
    text-decoration: none;
    color: #bbb;
}

#main ul.admin-nav a:hover {
    text-decoration: none;
    color: #888;
}

#main ul.admin-nav a:last-child {
    border-bottom: none;
}

#main table {
    font-size: 12px;
    margin-top: 20px;
}
#main input.form-control {
    width: 180px;
    position: absolute;
    top: -50px;
    right: 0;
}
</style>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <ul class="admin-nav">
            <p>比赛管理</p>
            <a href="{:U('Admin/contest_pay_confirm')}">
                <li>审核支付</li>
            </a>
            <a href="{:U('Admin/submissions')}">
                <li>作品管理</li>
            </a>
        </ul>
        <ul class="admin-nav">
            <p>用户管理</p>
            <a href="{:U('Admin/users')}">
                <li>所有用户</li>
            </a>
        </ul>
        <ul class="admin-nav">
            <p>网站管理</p>
            <a href="{:U('Admin/translations')}">
                <li>编辑翻译</li>
            </a>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <h3 style="margin-top:10px;margin-bottom:20px;">所有用户</h3>
        <div style="position:relative;">
            <input type="text" class="form-control">
            <table class="table table-hover">
                <tr>
                    <th>邮箱/手机</th>
                    <th>公司中文/英文/电话</th>
                    <th>职位</th>
                    <th>系统角色</th>
                    <th>操作</th>
                    <foreach name='users' item='v'>
                        <tr class="user">
                            <td>{$v.email}<br/>{$v.cellphone}</td>
                            <td>{$v.companyc}<br/>{$v.companye}<br/>{$v.companyp}</td>
                            <td>{$v.position}</td>
                            <td>
                                <?php
                                    if ($v['role'] == 0) {
                                        echo '普通';
                                    }
                                    elseif ($v['role'] == 1) {
                                        echo '评委';
                                    }
                                    else {
                                        echo '管理员';
                                    }
                                ?>
                            </td>
                            <td style="min-width:120px;">
                                <p><a href="{:U('Admin/reset_password', array('id'=>$v['id']))}">重置密码</a></p>
                            </td>
                        </tr>
                    </foreach>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#main input.form-control').keyup(function(event) {
        var keyword = $(this).val();
        if (keyword == '') {
            $('#main table .user').show();
        }
        else {
            $('#main table .user').each(function(index, el) {
                var flag = false;
                var $p = $(this);
                $p.children('td').each(function(i, e) {
                    if ($(this).text().indexOf(keyword) >= 0) {
                        flag = true;
                    }
                });
                if (flag) {
                    $p.show();
                }
                else {
                    $p.hide();
                }
            });
        }
    });
});
</script>