<style>
#main table {
    font-size: 12px;
    margin-top: 20px;
}

#main input.form-control {
    width: 180px;
    position: absolute;
    top: -50px;
    right: 0;
}
</style>
<h3 style="margin-top:10px;margin-bottom:20px;">所有用户</h3>
<div style="position:relative;">
    <input type="text" class="form-control">
    <table class="table table-hover">
        <tr>
            <th>邮箱/手机</th>
            <th>公司中文/英文/电话</th>
            <th>职位</th>
            <th>系统角色</th>
            <th>操作</th>
            <foreach name='users' item='v'>
                <tr class="user">
                    <td>{$v.email}
                        <br/>{$v.cellphone}</td>
                    <td>{$v.companyc}
                        <br/>{$v.companye}
                        <br/>{$v.companyp}</td>
                    <td>{$v.position}</td>
                    <td>
                        <?php 
                        if ($v['role'] == 0) {
                            echo '普通';
                        }
                        elseif ($v['role'] == 1) {
                            echo '评委';
                        }
                        else {
                            echo '管理员';
                        }
                        ?>
                    </td>
                    <td style="min-width:120px;">
                        <if condition="$v['activate'] eq 0">
                            <p><a href="{:U('Admin/activate', array('id'=>$v['id']))}">激活用户</a></p>
                        </if>
                        <p><a href="{:U('Admin/reset_password', array('id'=>$v['id']))}">重置密码</a></p>
                        <?php if ($v['role'] == 0) { ?>
                        <p><a href="{:U('Admin/set_as_judge', array('id'=>$v['id']))}">升为评委</a></p>
                        <?php } elseif ($v['role'] == 1) { ?>
                        <p><a href="{:U('Admin/set_as_common', array('id'=>$v['id']))}">降为普通</a></p>
                        <?php } ?>
                    </td>
                </tr>
            </foreach>
        </tr>
    </table>
</div>
<script>
$(document).ready(function() {
    $('#main input.form-control').keyup(function(event) {
        var keyword = $(this).val();
        if (keyword == '') {
            $('#main table .user').show();
        } else {
            $('#main table .user').each(function(index, el) {
                var flag = false;
                var $p = $(this);
                $p.children('td').each(function(i, e) {
                    if ($(this).text().indexOf(keyword) >= 0) {
                        flag = true;
                    }
                });
                if (flag) {
                    $p.show();
                } else {
                    $p.hide();
                }
            });
        }
    });
});
</script>