<style>
#main {
    padding: 40px 10%;
    padding-top: 20px;
}
#main #addnew {
    padding-left: 5%;
    border-left: 1px solid #ddd;
}
#main #addnew.plain {
    padding-left: 0;
    border-left: none;
}
#main #addnew p {
    color: #4E6B88;
}
#main #addnew .form-control {
    color: #666;
    max-width: 400px;
}
#main #guide {
    padding-right: 5%;
}
#main #guide.plain {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
#main #guide ol li {
    margin-bottom: 3px;
    color: #888;
}
#main #guide ol li.active {
    color: #F05036;
}
#main #guide p {
    color: #666;
}
#main #guide p span {
    color: #F05036;
    margin-left: 3px;
    margin-right: 3px;
}
</style>
<form class="form" method="post" action="{:U('Contest/apply_handle')}">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div id="guide">
                <h3 style="font-size:20px;color:#4E6B88;margin-bottom:15px;"><?php translate('仅需四步完成作品')?></h3>
                <ol>
                    <li class="active"><?php translate('添加新作品')?></li>
                    <li><?php translate('完成支付')?></li>
                    <li><?php translate('填写详情')?></li>
                    <li><?php translate('提交作品')?></li>
                </ol>
                <div id="note" style="margin-top:20px;">
                    <p><?php translate('填写<span>中文</span>和<span>英文作品名</span>，选择<span>作品类别</span>，点击<span>添加</span>，以添加一个属于您的独一无二的新作品')?></p>
                    <p><?php translate('请注意，以上三项都是<span>必填项</span>')?></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div id="addnew">
                <h3 class="title"><?php translate('1 添加新作品')?></h3>
                <div class="form-group">
                    <p><?php translate('作品名（英文）')?></p>
                    <input type="text" name="titlee" class="form-control" value="">
                </div>
                <div class="form-group">
                    <p><?php translate('作品名（中文）')?></p>
                    <input type="text" name="titlec" class="form-control" value="">
                </div>
                <div class="form-group">
                    <p><?php translate('作品类别')?></p>
                    <select class="form-control" name="category">
                        <option value="产品" selected=selected><?php translate('产品')?></option>
                        <option value="空间"><?php translate('空间')?></option>
                        <option value="营销"><?php translate('营销')?></option>
                        <option value="数字"><?php translate('数字')?></option>
                        <option value="视觉"><?php translate('视觉')?></option>
                        <option value="商业模式"><?php translate('商业模式')?></option>
                        <option value="社会创新"><?php translate('社会创新')?></option>
                        <option value="众创空间"><?php translate('众创空间')?></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success disabled" style="margin-top:20px;"><?php translate('添加')?></button>
            </div>
        </div>
    </div>
</form>
<script>
$(document).ready(function() {
    if ($(window).width() < 768) {
        $('#main #addnew').addClass('plain');
        $('#main #guide').addClass('plain');
    } else {
        $('#main #addnew').removeClass('plain');
        $('#main #guide').removeClass('plain');
    }
    var titlec = false,
        titlee = false;
    $('#main input[name="titlec"]').keyup(function(event) {
        var tmp = $.trim($(this).val());
        if (tmp == '') {
            console.log(1);
            $('#main button').addClass('disabled');
            titlec = false;
        } else {
            console.log(2);
            titlec = true;
            if (titlec && titlee) {
                $('#main button').removeClass('disabled');
            }
        }
    });
    $('#main input[name="titlee"]').keyup(function(event) {
        var tmp = $.trim($(this).val());
        if (tmp == '') {
            console.log(3);
            $('#main button').addClass('disabled');
            titlee = false;
        } else {
            console.log(4);
            titlee = true;
            if (titlec && titlee) {
                $('#main button').removeClass('disabled');
            }
        }
    });
    $(window).resize(function(event) {
        if ($(this).width() < 768) {
            $('#main #addnew').addClass('plain');
            $('#main #guide').addClass('plain');
        } else {
            $('#main #addnew').removeClass('plain');
            $('#main #guide').removeClass('plain');
        }
    });
});
</script>