<style>
#main {
    padding: 10px 6%;
    margin-bottom: 60px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main #pay {
    padding-left: 5%;
    border-left: 1px solid #ddd;
}

#main #pay.plain {
    padding-left: 0;
    border-left: none;
}

#main #pay #info div {
    color: #666;
    margin-bottom: 16px;
}

#main #pay #info p {
    margin-bottom: 8px;
    color: #888;
}

#main #pay #note p {
    font-size: 12px;
    color: #888;
}

#main #pay .paymeans {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    display: none;
}

#main #pay .paymeans p {
    font-size: 13px;
    color: #888;
    margin-bottom: 5px;
}

#main #guide {
    padding-right: 5%;
    text-align: center;
}

#main #guide.plain {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

#main button[type="submit"] {
    color: white;
    background-color: #ff7c34;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: 30px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
}

#main img.online:hover,
#main img.offline:hover {
    cursor: pointer;
}

#main #pay-success {
    background-color: rgb(60, 150, 255);
    border-radius: 5px;
    padding: 20px 30px;
    text-align: center;
    display: none;
    margin-top: 20px;
    margin-bottom: 50px;
}

#main #pay-success a {
    position: relative;
    top: 90px;
    color: white;
    background-color: #ff7c34;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
    text-decoration: none;
}

#main #confirm-payment button {
    color: white;
    background-color: #ff7c34;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: 30px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
}

@media screen and (max-width: 768px) {
    img.v {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    img.h {
        display: none;
    }
}
</style>
<form class="form" method="" action="">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div id="guide">
                <h3 style="font-size:14px;color:#666;margin-top:15px;text-align:left;margin-bottom:30px;"><?php translate('注册步骤')?></h3>
                <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
                <img class="h" src="__PUBLIC__/img/contest2016/process2hen.png" alt="" style="width:100%;max-width:400px;margin:0 auto;">
                <img class="v" src="__PUBLIC__/img/contest2016/process2ven.png" alt="" style="width:100%;max-width:400px;margin:0 auto;">
                <?php } else{ ?>
                <img class="h" src="__PUBLIC__/img/contest2016/process2h.png" alt="" style="width:100%;max-width:400px;margin:0 auto;">
                <img class="v" src="__PUBLIC__/img/contest2016/process2v.png" alt="" style="width:100%;max-width:400px;margin:0 auto;">
                <?php } ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div id="pay">
                <h3 class="title"><?php translate('完成支付')?></h3>
                <div id="pay-process">
                    <div id="note">
                        <p>
                            <?php translate('<span style="margin-left:0;">完成支付</span>后，系统将发送<span>确认邮件</span>并提供<span>下一步操作</span>链接')?></p>
                        <p>
                            <?php translate('请注意，<span>未支付</span>的作品可以在右上角头像中<span>我的作品</span>内找到')?></p>
                    </div>
                    <div style="padding:15px;border:1px solid #ddd;border-radius:5px;margin-top:20px;">
                        <div id="info">
                            <div>
                                <p>
                                    <?php translate('作品名（英文）')?>
                                </p>
                                {$submission.titlee}
                            </div>
                            <div>
                                <p>
                                    <?php translate('作品名（中文）')?>
                                </p>
                                {$submission.titlec}
                            </div>
                            <div>
                                <p>
                                    <?php translate('作品类别')?>
                                </p>
                                {$submission.category}
                            </div>
                            <div style="color:#ef5045;margin-bottom:0;">
                                <p>
                                    <?php translate('支付费用（元）')?>
                                </p>
                                <if condition="time() lt $contest['early_bird_time']">{$contest.early_bird_fee}
                                    <span id='fee'><?php translate('（早鸟优惠）')?></span>
                                    <else/><span id='fee'>{$contest.fee}</span>
                                </if>
                            </div>
                        </div>
                        <p style="margin-top:30px;margin-bottom:15px;">
                            <?php translate('选择支付方式')?>
                        </p>
                        <div style="margin-bottom:20px;">
                            <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
                            <img src="__PUBLIC__/img/contest2016/payonlineen.png" style="margin-right:3%;width:45%;max-width:120px;" alt="" class="online" id="payonline">
                            <img src="__PUBLIC__/img/contest2016/payofflineen.png" style="margin-left:3%;width:45%;max-width:120px;" alt="" class="offline">
                            <?php } else{ ?>
                            <img src="__PUBLIC__/img/contest2016/payonline.png" style="margin-right:3%;width:45%;max-width:120px;" alt="" class="online" id="payonline">
                            <img src="__PUBLIC__/img/contest2016/payoffline.png" style="margin-left:3%;width:45%;max-width:120px;" alt="" class="offline">
                            <?php } ?>
                        </div>
                        <div class="paymeans offline">
                            <p style="border-bottom:1px solid #ddd;padding-bottom:15px;margin-bottom:15px;">
                                <?php translate('请在转账备注里填写')?><span style="color:#EF5045;margin-left:5px;"><?php translate('公司信息＋转账人＋联系手机＋作品名称')?></span>
                                <?php translate('，这将作为作品支付的唯一凭证')?>
                            </p>
                            <img src="__PUBLIC__/img/contest2016/ICBC.png" style="width:45%;max-width:120px;margin-bottom:12px;" alt="">
                            <p>
                                <?php translate('户名：上海成功商务服务有限公司')?>
                            </p>
                            <p>
                                <?php translate('开户行：工行静安支行')?>
                            </p>
                            <p>
                                <?php translate('帐号：1001211309207989444')?>
                            </p>
                        </div>
                        <div class="paymeans offline" style="border-bottom:none;padding-bottom:0;margin-bottom:0;">
                            <img src="__PUBLIC__/img/contest2016/HSBC.png" style="width:45%;max-width:120px;margin-bottom:12px;" alt="">
                            <p>
                                <?php translate('外币：ICBKCNBJSHI')?>
                            </p>
                            <p>
                                <?php translate('人民币：102290021133')?>
                            </p>
                        </div>
                        <div id="invitation">
                            <p>
                                <?php translate('邀请码支付')?>
                            </p>
                            <div>
                                <input type="text" placeholder="<?php translate('邀请码')?>" class="form-control" style="width:200px;display:inline-block;">
                                <button class="btn btn-default" style="color:#888;display:inline-block;position:relative;top:-2px;margin-left:6px;"><?php translate('使用')?></button>
                            </div>
                            <p id="error" style="display:none;color:#EF5045;font-size:12px;margin-top:10px;margin-bottom:0;"></p>
                        </div>
                    </div>
                </div>
                <div style="text-align:center;" id="confirm-payment">
                    <button>
                        <?php translate('已经支付')?>
                    </button>
                </div>
                <div id="pay-success">
                    <img src="__PUBLIC__/img/contest2016/check.png" style="width:50px;margin-bottom:20px;" alt="">
                    <p style="text-align:left;color:#fdfdfd;">
                        <?php translate('恭喜，你已经完成支付，将很快收到一封确认邮件')?>
                    </p>
                    <p style="text-align:left;color:#fdfdfd;">
                        <?php translate('请记住，在5月31日之前，你需要填写作品详情并提交')?>
                    </p>
                    <a href="{:U('User/submission', array('id'=>$submission['id']))}">
                        <?php translate('作品详情')?>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
$(document).ready(function() {
    if ({$admin} == 1) {
        document.addEventListener('pingpp_one_ready', function() {
            document.getElementById('payonline').addEventListener('click', function() {
                pingpp_one.init({
                    app_id: 'app_4O0O8KmzjHm5zbLW', //该应用在 ping++ 的应用 ID
                    order_no: '', //订单在商户系统中的订单号
                    // amount: parseInt($('#fee').text()) * 100, //订单价格，单位：人民币 分
                    amount: 1, //订单价格，单位：人民币 分
                    // 壹收款页面上需要展示的渠道，数组，数组顺序即页面展示出的渠道的顺序
                    // channel: ['alipay_wap', 'wx_pub', 'upacp_wap', 'yeepay_wap', 'jdpay_wap', 'bfb_wap'],
                    channel: ['alipay_wap'],
                    charge_url: "{:U('Contest/pay_handle')}", //商户服务端创建订单的 url
                    charge_param: {
                        submission_id: {$submission.id},
                    }, //(可选，用户自定义参数，若存在自定义参数则壹收款会通过 POST 方法透传给 charge_url)
                    // open_id: 'wx1234567890', //(可选，使用微信公众号支付时必须传入)
                    debug: false //(可选，debug 模式下会将 charge_url 的返回结果透传回来)
                }, function(res) {
                    //debug 模式下获取 charge_url 的返回结果
                    if (res.debug && res.chargeUrlOutput) {
                        console.log(res.chargeUrlOutput);
                    }
                    if (!res.status) {
                        //处理错误
                        alert(res.msg);
                    } else {
                        //debug 模式下调用 charge_url 后会暂停，可以调用 pingpp_one.resume 方法继续执行
                        if (res.debug && !res.wxSuccess) {
                            if (confirm('当前为 debug 模式，是否继续支付？')) {
                                pingpp_one.resume();
                            }
                        }
                        //若微信公众号渠道需要使用壹收款的支付成功页面，则在这里进行成功回调，
                        //调用 pingpp_one.success 方法，你也可以自己定义回调函数
                        //其他渠道的处理方法请见第 2 节
                        else pingpp_one.success(function(res) {
                            if (!res.status) {
                                alert(res.msg);
                            }
                        }, function() {
                            //这里处理支付成功页面点击“继续购物”按钮触发的方法，
                            //例如：若你需要点击“继续购物”按钮跳转到你的购买页，
                            //则在该方法内写入 window.location.href = "你的购买页面 url"
                            window.location.href = 'http://yourdomain.com/payment_succeeded'; //示例
                        });
                    }
                });
            });
        });
    } else {
        $('#main img.online').click(function(event) {
            window.location.href = 'http://event.3188.la/229649539';
        });
    }

    if ($(window).width() < 768) {
        $('#main #pay').addClass('plain');
        $('#main #guide').addClass('plain');
    } else {
        $('#main #pay').removeClass('plain');
        $('#main #guide').removeClass('plain');
    }
    $(window).resize(function(event) {
        if ($(this).width() < 768) {
            $('#main #pay').addClass('plain');
            $('#main #guide').addClass('plain');
        } else {
            $('#main #pay').removeClass('plain');
            $('#main #guide').removeClass('plain');
        }
    });

    $('#main img.offline').click(function(event) {
        $('#main .paymeans.online').hide();
        $('#main .paymeans.offline').show();
    });

    $('#main #confirm-payment button').click(function(event) {
        event.preventDefault();
        $('#main #confirm-payment').fadeOut('fast', function() {
            $('#main #pay-process').css('margin-bottom', '40px');
        });
        $.ajax({
                url: "{:U('Contest/pay_confirm')}",
                type: 'POST',
                dataType: 'json',
                data: {
                    id: {$submission.id}
                },
            })
            .done(function() {
                $('#main #pay-process').hide();
                $('#main #pay-success').fadeIn('fast');
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    });

    $('#main #invitation button').click(function(event) {
        event.preventDefault();
        $.ajax({
            url: "{:U('Contest/pay_by_code')}",
            type: 'POST',
            dataType: 'json',
            data: {
                code: $('#main #invitation input').val(),
                submission_id: {$submission.id}
            },
        })
        .done(function(data) {
            if (data['result'] == 'ok') {
                $('#main #invitation #error').hide();
                window.location.href = "{:U('Contest/info',array('id'=>$submission['id']))}";
            }
            else if (data['result'] == 'error') {
                $('#main #invitation #error').text(data['error']).show();
            }
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
    });
});
</script>