<style>
#main {
    margin-bottom: 60px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main #section1 {
    padding: 30px 6%;
}

#main #basic>ul li {
    font-size: 12px;
}

#main #basic .promotion1 {
    margin: 15px 0px;
    padding: 6px 10px 15px 15px;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-radius: 4px;
    position: relative;
    /*opacity: 0;*/
}
#main #basic .promotion1:hover {
    cursor: pointer;
    background-color: #ff6948;
    border: 1px solid #ff6948;
}
#main #basic .promotion1 b {
    font-size: 13px;
    display: inline-block;
    margin-right: 6px;
}
#main #basic .promotion1:hover b {
    color: #fff;
}
#main #basic .promotion1 h5 {
    line-height: 1.2;
    color: #ff6948;
    font-size: 16px;
}
#main #basic .promotion1:hover h5 {
    color: #fff;
}

#main #basic .promotion1 h5 span {
    margin-left: 5px;
}

#main #basic .promotion1 h5 small {
    display: block;
    color: #ff6948;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 1.2;
}
#main #basic .promotion1:hover h5 small {
    color: #fff;
}

#main #additional .promotion2 {
    margin: 10px 6px;
    padding: 0;
    padding-bottom: 1px;
    border: 1px solid #ff6948;
    border-bottom: none;
    border-radius: 4px;
    color: #fff;
    background-color: #ff6948;
    text-align: center;
}

#main #additional .promotion2 h5 {
    line-height: 1.2;
    font-size: 12px;
}

#main #additional .promotion2 h5 span {
    margin: 3px 5px;
    display: block;
}

#main #additional .promotion2 h5 p {
    font-size: 12px;
}

#main #section2 {
    display: none;
    padding: 30px 6%;
    padding-bottom: 10px;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main .choice1 {
    width: 100%;
    text-align: center;
    color: #ef5045;
    border: 1px solid #ef5045;
    background-color: transparent;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 12px;
}

#main .choice1:hover,
#main .choice1.active {
    color: #fff;
    background-color: #ef5045;
    cursor: pointer;
}

#main .choice2 {
    width: 100%;
    text-align: center;
    color: #ef5045;
    border: 1px solid #ef5045;
    background-color: transparent;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 12px;
    position: relative;
}

#main .choice2:hover {
    cursor: pointer;
}

#main .choice2.active {
    color: #fff;
    background-color: #ef5045;
    cursor: pointer;
}

#main #buy {
    color: white;
    background-color: #ff7c34;
    border: none;
    padding: 12px 40px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: 0px;
    margin-bottom: -30px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
}

#main .choice3 {
    width: 100%;
    text-align: left;
    color: #ef5045;
    font-size: 14px;
    margin-bottom: 12px;
}

#main .choice3 button {
    outline: none;
    border: none;
    background-color: transparent;
    color: #888;
}

#main .choice3 span {
    color: #888;
}

#section3 {
    display: none;
    padding: 30px 6%;
    padding-bottom: 10px;
    background-color: #f2f2f2;
}
#section3 .detail {
    margin-bottom: 30px;
    padding-left: 6px;
    padding-right: 6px;
}
#section3 .detail h5 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}
#section3 .detail img {
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(40,40,40,0.4);
}
#section3 .detail p {
    color: #888;
    margin-top: 10px;
}
#back {
    color: #999;
    margin-bottom: -20px;
}
#back:hover {
    color: #666;
    cursor: pointer;
}
</style>
<div id="section1">
    <h3 style="font-size:20px;margin-bottom:30px;color:#333;"><?php translate('2016成功设计大赛推广方案')?></h3>
    <div id="basic">
        <h4><img src="__PUBLIC__/img/contest2016/star.png" style="height:19px;margin-right:10px;position:relative;top:-4px;"><?php translate('标准推广服务（必选）')?></h4>
        <ul>
            <!-- <li><?php translate('')?></li> -->
            <li>
                <?php translate('标准推广服务均是组委会<b>仅针对获奖公司</b>专门设计的推广服务')?></li>
            <li>
                <?php translate('为最大化您的获奖受益，请在以下推广服务（A、B、C、D）中任选一种')?>
            </li>
            <li>
                <?php translate('每项服务仅针对1件获奖作品，如多件作品获奖，请根据获奖件数多选')?>
            </li>
            <!--li>
                <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
                <a href="__PUBLIC__/upload/download/2016 SDA promotion package_EN_rcg.pptx"><?php translate('每项服务细则具体阐述，请参考PPT介绍')?></a>
                <?php } else{ ?>
                <a href="__PUBLIC__/upload/download/2016成功设计大赛推广方案.pptx"><?php translate('每项服务细则具体阐述，请参考PPT介绍')?></a>
                <?php } ?>
            </li-->
        </ul>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion1" id="promotion1a">
                    <h5><?php translate('A 基础推广服务')?><span>RMB 3,000</span><small><?php translate('帮助您最大化您的获奖收益')?></small></h5>
                    <div>
                        <b><?php translate('奖杯 & 奖状')?></b></span>
                        <b><?php translate('年鉴展示')?></b>
                        <b><?php translate('颁奖典礼')?></b>
                        <b><?php translate('创新赋能大会')?></b>
                        <b><?php translate('获奖标示')?></b>
                        <b><?php translate('新闻通稿')?></b>
                    </div>
                    <!-- <p style="margin-bottom:0;font-size:13px;color:#666;text-align:right;margin-top:12px;"><?php translate('详情')?></p> -->

                    <!--ul>
                        <li>
                            <?php translate('<b>奖杯 & 奖状</b>：1套专属获奖证书和奖杯')?></li>
                        <li>
                            <?php translate('<b>年鉴展示</b>：年鉴中展示品牌和作品，并获赠年鉴一本')?></li>
                        <li>
                            <?php translate('<b>颁奖典礼</b>：受邀出席当年的颁奖典礼，每件获奖作品拥有2个出席名额，其中1位上台接受颁奖')?></li>
                        <li>
                            <?php translate('<b>创新赋能大会</b>：获得价值1200元的创新赋能大会全天套票一张')?></li>
                        <li>
                            <?php translate('<b>获奖标示</b>：得奖者有权使用大赛标识作为宣传素材，可运用于宣传媒介')?></li>
                        <li>
                            <?php translate('<b>新闻通稿</b> ：新闻通稿可供下载宣传')?></li>
                    </ul-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion1" id="promotion1b">
                    <h5><?php translate('B 展示推广服务')?><span>RMB 8,000</span><small><?php translate('整合多方媒体资源，协助您的品牌获得广泛有效传播')?></small></h5>
                    <div>
                        <b><?php translate('媒体推广')?></b>
                        <b><?php translate('微信传播')?></b>
                        <b><?php translate('双页年鉴展示')?></b>
                        <b><?php translate('A 类中的所有服务')?></b>
                    </div>
                    <!-- <p style="margin-bottom:0;font-size:13px;color:#666;text-align:right;margin-top:12px;"><?php translate('详情')?></p> -->

                    <!--ul>
                        <li>
                            <?php translate('<b>媒体报道</b>：专业编辑撰写推广文案，并在30家门户/行业网络媒体报道，彰显您的设计理念，提升品牌价值 （媒体类型可订制）')?></li>
                        <li>
                            <?php translate('<b>微信传播</b>：成功设计平台公众号微信头条发布1篇文案（需提供推广软文的基本资料）')?></li>
                        <li>
                            <?php translate('<b>年鉴展示</b>：双页年鉴篇幅，更全面展示获奖作品，并获赠年鉴3本')?></li>
                        <li>
                            <?php translate('<b>A 类中的所有服务</b>')?></li>
                    </ul-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion1" id="promotion1c">
                    <h5><?php translate('C 闪耀推广服务')?><span>RMB 12,000</span><small><?php translate('活动现场，运用Pin3D 展示技术，多维立体展示您的获奖设计作品，获得更多的合作机会')?></small></h5>
                    <!--ul>
                        <li>
                            <?php translate('<b>3D 展示</b>：现场大屏，通过3D互动方式展示获奖设计和品牌，配合典礼当天的媒体Tour，获得更多的合作机会')?></li>
                        <li>
                            <?php translate('<b>B 类中的所有服务</b>')?></li>
                    </ul-->
                    <div>
                        <b><?php translate('3D 展示')?></b>
                        <b><?php translate('B 类中的所有服务')?></b>
                    </div>
                    <!-- <p style="margin-bottom:0;font-size:13px;color:#666;text-align:right;margin-top:12px;"><?php translate('详情')?></p> -->
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion1" id="promotion1d">
                    <h5><?php translate('D 成功推广服务')?><span>RMB 18,000</span><small><?php translate('活动现场专属展区，立体真实地展示和推广您的品牌，为您提供与潜在客户和合作伙伴建立关系的机会')?></small></h5>
                    <div>
                        <b><?php translate('实物展示')?></b>
                        <b><?php translate('广告宣传')?></b>
                        <b><?php translate('B 类中的所有服务')?></b>
                    </div>
                    <!-- <p style="margin-bottom:0;font-size:13px;color:#666;text-align:right;margin-top:12px;"><?php translate('详情')?></p> -->
                    <!--ul>
                        <li>
                            <?php translate('<b>实物展示</b>：活动现场专属展区，活动当天还将在展区安排VIP /媒体 Tour，详细讲解展示作品的设计理念和背后故事')?></li>
                        <li>
                            <?php translate('<b>广告宣传</b>：在大赛年鉴中广告宣传页用1页的篇幅推广获奖公司')?></li>
                        <li>
                            <?php translate('<b>B 类中的所有服务</b>')?></li>
                    </ul-->
                </div>
            </div>
        </div>
    </div>
    <div id="additional">
        <h4><img src="__PUBLIC__/img/contest2016/star.png" style="height:19px;margin-right:10px;position:relative;top:-4px;"><?php translate('增值推广服务（可选）')?></h4>
        <ul>
            <li>
                <?php translate('增值推广服务是在标准推广服务的基础上为获奖公司提供的更多推广选项')?>
            </li>
            <li>
                <?php translate('不同服务可<b>多选</b>，<b>无排他性</b>，每项服务也可<b>重复选择</b>')?>
            </li>
            <!--li>
                <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
                <a href="__PUBLIC__/upload/download/2016 SDA promotion package_EN_rcg.pptx"><?php translate('每项服务细则具体阐述，请参考PPT介绍')?></a>
                <?php } else{ ?>
                <a href="__PUBLIC__/upload/download/2016成功设计大赛推广方案.pptx"><?php translate('每项服务细则具体阐述，请参考PPT介绍')?></a>
                <?php } ?>
            </li-->
        </ul>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('双页年鉴展示')?><span>RMB 3,000</span></h5>
                    <!--p>
                        <?php translate('用双页篇幅全面立体地展示获奖作品图片及宣传文案')?>
                    </p-->
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('专题报道')?><span>RMB 15,000</span></h5>
                    <!--p>

                        <?php translate('专业编辑进行一对一采访，在年鉴上双语报道，并推送至30家专业媒体（媒体类型可定制）')?>
                    </p-->
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('媒体推广')?><span>RMB 10,000</span></h5>
                    <!--p>
                        <?php translate('50家综合/行业类网络媒体深入报道（媒体类型可定制）')?>
                    </p-->
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('微信传播')?><span>RMB 1,000</span></h5>
                    <!--p>
                        <?php translate('成功设计平台微信公众号头条发布1条文案')?>
                    </p-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('3D展示')?><span>RMB 5,000</span></h5>
                    <!--p>
                        <?php translate('现场大屏，3D互动方式展示获奖作品')?>
                    </p-->
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('实物展示')?><span>RMB 12,000</span></h5>
                    <!--p>
                        <?php translate('活动现场设专属展区，并在展区安排VIP /媒体 Tour，详细讲解展示作品')?>
                    </p-->
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('增订奖杯&奖状')?><span><?php translate('RMB 500/套')?></span></h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('增订年鉴')?><span><?php translate('RMB 200/本')?></span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section3">
    <!-- <h3 style="font-size:20px;margin-bottom:30px;color:#333;"><?php translate('推广服务细则')?></h3> -->
    <div id="back">
        <span class="fa fa-fw fa-chevron-circle-left" style="font-size:20px;position:relative;top:2px;"></span> <?php translate("返回")?>
    </div>
    <h3 style="font-size:20px;margin-bottom:20px;color:#ff6948;text-align:center;" id="title1" class="package"><?php translate('A 基础推广服务')?><span style="margin-left:5px;">RMB 3,000</span></h3>
    <h3 style="font-size:20px;margin-bottom:20px;color:#ff6948;text-align:center;" id="title2" class="package"><?php translate('B 展示推广服务')?><span style="margin-left:5px;">RMB 8,000</span></h3>
    <h3 style="font-size:20px;margin-bottom:20px;color:#ff6948;text-align:center;" id="title3" class="package"><?php translate('C 闪耀推广服务')?><span style="margin-left:5px;">RMB 12,000</span></h3>
    <h3 style="font-size:20px;margin-bottom:20px;color:#ff6948;text-align:center;" id="title4" class="package"><?php translate('D 成功推广服务')?><span style="margin-left:5px;">RMB 18,000</span></h3>
    <p style="margin-bottom:20px;font-size:12px;"><?php translate('套餐包含以下推广服务')?></p>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p3 p4">
            <div class="detail" id="detail1">
                <h5><?php translate('奖杯 & 奖状')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion1.png" style="width:100%" alt="">
                <p><?php translate('为您的获奖作品定制专属获奖证书和奖杯，可在各大活动现场和展厅展示您的荣誉，提供您的品牌价值和可信度，彰显您的获奖殊荣。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p3 p4">
            <div class="detail" id="detail2">
                <h5><?php translate('年鉴展示')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion2.png" style="width:100%" alt="">
                <p><?php translate('在年鉴上以整页篇幅展示您的获奖作品，传递您的设计理念和品牌价值并将会发送给所有的参赛者、评委、媒体合作伙伴等合作机构。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p3 p4">
            <div class="detail" id="detail3">
                <h5><?php translate('颁奖典礼')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion3.png" style="width:100%" alt="">
                <p><?php translate('参加年度颁奖典礼，展现您的获奖殊荣，同时向业内设计大咖展示您的成功设计，建立行业链接和合作机会。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p3 p4">
            <div class="detail" id="detail4">
                <h5><?php translate('创新赋能大会')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion4.png" style="width:100%" alt="">
                <p><?php translate('参与大咖互动分享，向商业领袖传达示您设计概念，彼此交流碰撞，建立合作机会。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p3 p4">
            <div class="detail" id="detail5">
                <h5><?php translate('获奖标示')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion5.png" style="width:100%" alt="">
                <p><?php translate('得奖者有权使用大赛标识作为宣传素材，可运用在网站、介绍册、包装、展览及广告等宣传媒介，增强您品牌推广的价值。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p2 p3 p4">
            <div class="detail" id="detail6">
                <h5><?php translate('双页年鉴展示')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion6.png" style="width:100%" alt="">
                <p><?php translate('用双页篇幅，更加全面立体地展示获奖作品图片及宣传文案，向6000+位设计及商业领袖展示您的成功设计。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="detail" id="detail7">
                <h5><?php translate('专题报道')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion7.png" style="width:100%" alt="">
                <p><?php translate('专业编辑进行一对一采访，在年鉴上双语报道，并推送至30家专业媒体（媒体类型可定制）更加深入地展示您的作品内核。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p2 p3 p4">
            <div class="detail" id="detail8">
                <h5><?php translate('微信传播')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion8.png" style="width:100%" alt="">
                <p><?php translate('成功设计平台微信头条发布，直接受众35000+，间接辐射100000+，向大众分享您的设计理念和故事。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p2 p3 p4">
            <div class="detail" id="detail9">
                <h5><?php translate('媒体推广')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion9.png" style="width:100%" alt="">
                <p><?php translate('专业编辑撰写推广文案，并在30家门户/行业网络媒体报道 ，彰显您的设计理念，提升品牌价值 （媒体类型可订制）。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p3">
            <div class="detail" id="detail10">
                <h5><?php translate('3D 展示')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion10.png" style="width:100%" alt="">
                <p><?php translate('现场大屏，运用Pin3D 展示技术，多维立体展示您的获奖设计作品，获得更多的合作机会和资源对接。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p4">
            <div class="detail" id="detail11">
                <h5><?php translate('实物展示')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion11.png" style="width:100%" alt="">
                <p><?php translate('活动现场专属展区，立体、真实展示您的获奖作品和品牌；活动当天还将在展区安排VIP /媒体 Tour，详细讲解您展示作品的设计理念和背后故事，为您提供与潜在客户和合作伙伴建立关系的机会。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p4">
            <div class="detail" id="detail12">
                <h5><?php translate('广告宣传')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion12.png" style="width:100%" alt="">
                <p><?php translate('在大赛年鉴中广告宣传页用1页的篇幅推广获奖设计的品牌和公司，更全面的展示您设计背后的品牌及公司主体。')?></p>
            </div>
        </div>
    </div>
    <h3 style="font-size:20px;margin-bottom:40px;color:#ff6948;margin-top:0;text-align:center;" id="title1"><?php translate('套餐未包含以下增值推广服务')?></h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1">
            <div class="detail" id="detail6">
                <h5><?php translate('双页年鉴展示')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion6.png" style="width:100%" alt="">
                <p><?php translate('用双页篇幅，更加全面立体地展示获奖作品图片及宣传文案，向6000+位设计及商业领袖展示您的成功设计。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p3 p4">
            <div class="detail" id="detail7">
                <h5><?php translate('专题报道')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion7.png" style="width:100%" alt="">
                <p><?php translate('专业编辑进行一对一采访，在年鉴上双语报道，并推送至30家专业媒体（媒体类型可定制）更加深入地展示您的作品内核。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1">
            <div class="detail" id="detail8">
                <h5><?php translate('微信传播')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion8.png" style="width:100%" alt="">
                <p><?php translate('成功设计平台微信头条发布，直接受众35000+，间接辐射100000+，向大众分享您的设计理念和故事。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1">
            <div class="detail" id="detail9">
                <h5><?php translate('媒体推广')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion9.png" style="width:100%" alt="">
                <p><?php translate('专业编辑撰写推广文案，并在30家门户/行业网络媒体报道 ，彰显您的设计理念，提升品牌价值 （媒体类型可订制）。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p4">
            <div class="detail" id="detail10">
                <h5><?php translate('3D 展示')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion10.png" style="width:100%" alt="">
                <p><?php translate('现场大屏，运用Pin3D 展示技术，多维立体展示您的获奖设计作品，获得更多的合作机会和资源对接。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p3">
            <div class="detail" id="detail11">
                <h5><?php translate('实物展示')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion11.png" style="width:100%" alt="">
                <p><?php translate('活动现场专属展区，立体、真实展示您的获奖作品和品牌；活动当天还将在展区安排VIP /媒体 Tour，详细讲解您展示作品的设计理念和背后故事，为您提供与潜在客户和合作伙伴建立关系的机会。')?></p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p1 p2 p3">
            <div class="detail" id="detail12">
                <h5><?php translate('广告宣传')?></h5>
                <img src="__PUBLIC__/img/contest2016/promotion12.png" style="width:100%" alt="">
                <p><?php translate('在大赛年鉴中广告宣传页用1页的篇幅推广获奖设计的品牌和公司，更全面的展示您设计背后的品牌及公司主体。')?></p>
            </div>
        </div>
    </div>
</div>
<div id="section2">
    <h3 style="font-size:20px;margin-bottom:30px;color:#333;"><?php translate('购买')?><span id="s1" style="margin-left:10px;color:#ef5045;"><?php translate('A 基础推广服务')?></span><span id="s2" style="margin-left:10px;color:#ef5045;"><?php translate('B 展示推广服务')?></span><span id="s3" style="margin-left:10px;color:#ef5045;"><?php translate('C 闪耀推广服务')?></span><span id="s4" style="margin-left:10px;color:#ef5045;"><?php translate('D 成功推广服务RMB')?></span></h3>
    <p>
        <?php translate('选择需要推广的获奖作品')?>
    </p>
    <select class="form-control" name="submission">
        <foreach name="submissions" item="v">
            <option value="{$v['id']}">{$v.titlec} {$v.titlee}</option>
        </foreach>
    </select>
    <p style="margin-top:12px;">
        <?php translate('自由选择套餐中不包含的增值推广服务')?>
    </p>
    <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 add p1">
            <div class="choice2" id="20" name="3000">
                <?php translate('双页年鉴展示')?>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 add p1 p2 p3 p4">
            <div class="choice2" id="21" name="15000">
                <?php translate('专题报道')?>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 add p1">
            <div class="choice2" id="22" name="10000">
                <?php translate('媒体推广')?>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 add p1">
            <div class="choice2" id="23" name="1000">
                <?php translate('微信传播')?>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 add p1 p2 p4">
            <div class="choice2" id="24" name="5000">
                <?php translate('3D展示')?>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 add p1 p2 p3">
            <div class="choice2" id="25" name="12000">
                <?php translate('实物展示')?>
            </div>
        </div>
    </div>
    <p style="margin-top:12px;">
        <?php translate('增订奖杯&奖状或年鉴')?>
    </p>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="choice3" id="26" name="500">
                <?php translate('增订奖杯&奖状')?>
                <button class="minus"><span class="fa fa-fw fa-minus"></span></button>
                <span class="number">0</span>
                <button class="plus"><span class="fa fa-fw fa-plus"></span></button>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="choice3" id="27" name="200">
                <?php translate('增订年鉴')?>
                <button class="minus"><span class="fa fa-fw fa-minus"></span></button>
                <span class="number">0</span>
                <button class="plus"><span class="fa fa-fw fa-plus"></span></button>
            </div>
        </div>
    </div>
    <p style="margin-top:12px;">
        <?php translate('需支付')?>
    </p>
    <p id="total_price" style="font-size:20px;color:#ef5045;">RMB 0</p>
    <div style="text-align:center;">
        <button class="btn btn-default" id="buy">
            <?php translate('购买')?>
        </button>
    </div>
</div>
<script>
$(document).ready(function() {
    var tmp = 0;
    if ($('#promotion1a').height() > $('#promotion1b').height()) {
        tmp = $('#promotion1a').height();
    }
    else {
        tmp = $('#promotion1b').height();
    }
    if ($('#promotion1c').height() > tmp) {
        tmp = $('#promotion1c').height();
    }
    if ($('#promotion1d').height() > tmp) {
        tmp = $('#promotion1d').height();
    }
    $('#promotion1a').height(tmp);
    $('#promotion1b').height(tmp);
    $('#promotion1c').height(tmp);
    $('#promotion1d').height(tmp);

    var submission_id = '';
    var choice1 = '';
    var choice2 = [0, 0, 0, 0, 0, 0, 0, 0];
    var prices = [3000, 15000, 10000, 1000, 5000, 12000, 500, 200];

    $('.choice2').click(function(event) {
        $(this).toggleClass('active');
        if ($(this).hasClass('active')) {
            choice2[parseInt($(this).attr('id')[1])] = 1;
        } else {
            choice2[parseInt($(this).attr('id')[1])] = 0;
        }
        cal_total();
    });
    $('.choice3 .minus').click(function(event) {
        var num = parseInt($(this).siblings('span').text());
        if (num == 0) {
            choice2[parseInt($(this).parent('.choice3').attr('id')[1])] = 0;
        } else {
            num -= 1;
            $(this).siblings('span').text(num);
            choice2[parseInt($(this).parent('.choice3').attr('id')[1])] = num;
        }
        cal_total();
    });
    $('.choice3 .plus').click(function(event) {
        var num = parseInt($(this).siblings('span').text());
        num += 1;
        $(this).siblings('span').text(num);
        choice2[parseInt($(this).parent('.choice3').attr('id')[1])] = num;
        cal_total();
    });

    function cal_total() {
        submission_id = $('select[name="submission"] option:selected').val();
        var total = 0;
        if (choice1 == '1a') {
            total += 3000;
        } else if (choice1 == '1b') {
            total += 8000;
        } else if (choice1 == '1c') {
            total += 12000;
        } else if (choice1 == '1d') {
            total += 18000;
        }

        for (var i = 0; i < prices.length; i++) {
            total += prices[i] * choice2[i];
        }

        $('#total_price').text('RMB ' + total);
    }

    $('#main #buy').click(function(event) {
        event.preventDefault();
    });

    document.addEventListener('pingpp_one_ready', function() {
        document.getElementById('buy').addEventListener('click', function() {
            if (choice1 != '') {
                var order_no = '';
                // var tmp = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
                var tmp = '0123456789';
                for (var i = 0; i < 30; i++) {
                    order_no += tmp.charAt(Math.floor(Math.random() * tmp.length));
                }
                order_no = submission_id + order_no;
                pingpp_one.init({
                    app_id: 'app_4O0O8KmzjHm5zbLW', //该应用在 ping++ 的应用 ID
                    order_no: order_no, //订单在商户系统中的订单号
                    amount: 100, //订单价格，单位：人民币 分
                    // 壹收款页面上需要展示的渠道，数组，数组顺序即页面展示出的渠道的顺序
                    // channel: ['alipay_wap', 'wx_pub', 'upacp_wap', 'yeepay_wap', 'jdpay_wap', 'bfb_wap'],
                    channel: ['alipay_wap'],
                    charge_url: "{:U('Contest/promotion_pay')}", //商户服务端创建订单的 url
                    charge_param: {
                        submission_id: submission_id,
                        choice1: choice1,
                        choice2: choice2
                    }, //(可选，用户自定义参数，若存在自定义参数则壹收款会通过 POST 方法透传给 charge_url)
                    // open_id: 'wx1234567890', //(可选，使用微信公众号支付时必须传入)
                    debug: false //(可选，debug 模式下会将 charge_url 的返回结果透传回来)
                }, function(res) {
                    //debug 模式下获取 charge_url 的返回结果
                    if (res.debug && res.chargeUrlOutput) {
                        console.log(res.chargeUrlOutput);
                    }
                    if (!res.status) {
                        //处理错误
                        alert(res.msg);
                        $.ajax({
                                url: "{:U('Index/logging')}",
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    part: 'promotion',
                                    content: res.chargeUrlOutput,
                                },
                            })
                            .done(function() {
                                console.log("success");
                            })
                            .fail(function() {
                                console.log("error");
                            })
                            .always(function() {
                                console.log("complete");
                            });
                    } else {
                        //debug 模式下调用 charge_url 后会暂停，可以调用 pingpp_one.resume 方法继续执行
                        if (res.debug && !res.wxSuccess) {
                            if (confirm('当前为 debug 模式，是否继续支付？')) {
                                pingpp_one.resume();
                            }
                        }
                        //若微信公众号渠道需要使用壹收款的支付成功页面，则在这里进行成功回调，
                        //调用 pingpp_one.success 方法，你也可以自己定义回调函数
                        //其他渠道的处理方法请见第 2 节
                        else pingpp_one.success(function(res) {
                            if (!res.status) {
                                alert(res.msg);
                            }
                        }, function() {
                            //这里处理支付成功页面点击“继续购物”按钮触发的方法，
                            //例如：若你需要点击“继续购物”按钮跳转到你的购买页，
                            //则在该方法内写入 window.location.href = "你的购买页面 url"
                            window.location.href = 'http://yourdomain.com/payment_succeeded'; //示例
                        });
                    }
                });
            }
        });
    });
    
    $('.promotion1').click(function(event) {
        /* Act on the event */
        $('#section1').hide();
        $('#section2').show();
        $('#section3').show();

        $('#section3 h3.package').hide();
        $('#section3 .col-md-6').hide();
        $('#section2 h3 span').hide();
        $('#section2 .add').hide();
        var tmp = $(this).attr('id');
        if (tmp == 'promotion1a') {
            $('#section3 #title1').show();
            $('#section3 .p1').show();
            $('#section2 h3 span#s1').show();
            $('#section2 .p1').show();
            choice1 = '1a';
            choice2 = [0, 0, 0, 0, 0, 0, 0, 0];
            $('.choice2').removeClass('active');
            $('#section2 span.number').text(0);
        }
        else if (tmp == 'promotion1b') {
            $('#section3 #title2').show();
            $('#section3 .p2').show();
            $('#section2 h3 span#s2').show();
            $('#section2 .p2').show();
            choice1 = '1b';
            choice2 = [0, 0, 0, 0, 0, 0, 0, 0];
            $('.choice2').removeClass('active');
            $('#section2 span.number').text(0);
        }
        else if (tmp == 'promotion1c') {
            $('#section3 #title3').show();
            $('#section3 .p3').show();
            $('#section2 h3 span#s3').show();
            $('#section2 .p3').show();
            choice1 = '1c';
            choice2 = [0, 0, 0, 0, 0, 0, 0, 0];
            $('.choice2').removeClass('active');
            $('#section2 span.number').text(0);
        }
        else if (tmp == 'promotion1d') {
            $('#section3 #title4').show();
            $('#section3 .p4').show();
            $('#section2 h3 span#s4').show();
            $('#section2 .p4').show();
            choice1 = '1d';
            choice2 = [0, 0, 0, 0, 0, 0, 0, 0];
            $('.choice2').removeClass('active');
            $('#section2 span.number').text(0);
        }
        cal_total();
    });

    $('#back').click(function(event) {
        $('#section1').show();
        $('#section2').hide();
        $('#section3').hide();
    });
});
</script>
<script type="text/javascript" src="https://one.pingxx.com/lib/pingpp_one.js"></script>