<style>
#main {
    margin-bottom: 60px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main #section1 {
    padding: 30px 6%;
}

#main #basic>ul li {
    font-size: 12px;
}

#main #basic .promotion1 {
    margin: 15px 10px;
    padding: 6px 10px 5px 15px;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#main #basic .promotion1 h5 {
    line-height: 1.2;
    color: #ff6948;
    font-size: 16px;
}

#main #basic .promotion1 h5 span {
    margin-left: 5px;
}

#main #basic .promotion1 h5 small {
    display: block;
    color: #ff6948;
    margin-left: 18px;
    margin-top: 5px;
    line-height: 1.2;
}

#main #additional .promotion2 {
    margin: 10px 6px;
    padding: 6px 6px 3px 12px;
    border: 1px solid rgba(160, 160, 160, 0.5);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#main #additional .promotion2 h5 {
    line-height: 1.2;
    color: #ff6948;
    font-size: 14px;
}

#main #additional .promotion2 h5 span {
    margin-left: 5px;
}

#main #additional .promotion2 h5 p {
    font-size: 12px;
}

#main #section2 {
    padding: 30px 6%;
    background-color: #f2f2f2;
}
#main #section2 h5 {
	color: #ff6948;
}
#main #section2 p {
	font-size: 12px;
}

#main #section3 {
    padding: 30px 6%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
</style>
<div id="section1">
    <h3 style="font-size:20px;margin-bottom:30px;color:#333;"><?php translate('2016成功设计大赛推广方案')?></h3>
    <div id="basic">
        <h4><img src="__PUBLIC__/img/contest2016/star.png" style="height:19px;margin-right:10px;position:relative;top:-4px;"><?php translate('标准推广服务（必选）')?></h4>
        <ul>
            <!-- <li><?php translate('')?></li> -->
            <li>
                <?php translate('标准推广服务均是组委会<b>仅针对获奖公司</b>专门设计的推广服务')?></li>
            <li>
                <?php translate('为最大化您的获奖受益，请在以下推广服务（A、B、C、D）中任选一种')?>
            </li>
            <li>
                <?php translate('每项服务仅针对1件获奖作品，如多件作品获奖，请根据获奖件数多选')?>
            </li>
        </ul>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="promotion1" id="promotion1a">
                    <h5><?php translate('A 基础推广服务')?><span>RMB 3,000</span><small><?php translate('帮助您最大化您的获奖收益')?><small></h5>
                    <ul>
                        <li>
                            <?php translate('<b>奖杯 & 奖状</b>：1套专属获奖证书和奖杯')?></li>
                        <li>
                            <?php translate('<b>年鉴展示</b>：年鉴中展示品牌和作品，并获赠年鉴一本')?></li>
                        <li>
                            <?php translate('<b>颁奖典礼</b>：受邀出席当年的颁奖典礼，每件获奖作品拥有2个出席名额，其中1位上台接受颁奖 ')?></li>
                        <li>
                            <?php translate('<b>创新赋能大会</b>：获得价值1200元的创新赋能大会全天套票一张')?></li>
                        <li>
                            <?php translate('<b>获奖标示</b>：得奖者有权使用大赛标识作为宣传素材，可运用于宣传媒介')?></li>
                        <li>
                            <?php translate('<b>新闻通稿</b> ：新闻通稿可供下载宣传')?></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="promotion1" id="promotion1b">
                    <h5><?php translate('B 展示推广服务')?><span>RMB 8,000</span><small><?php translate('整合多方媒体资源，协助您的品牌获得广泛有效传播')?><small></h5>
                    <ul>
                        <li>
                            <?php translate('<b>媒体报道</b>：专业编辑撰写推广文案，并在30家门户/行业网络媒体报道，彰显您的设计理念，提升品牌价值 （媒体类型可订制）')?></li>
                        <li>
                            <?php translate('<b>微信传播</b>：成功设计平台公众号微信头条发布1篇文案（需提供推广软文的基本资料）')?></li>
                        <li>
                            <?php translate('<b>年鉴展示</b>：双页年鉴篇幅，更全面展示获奖作品，并获赠年鉴3本')?></li>
                        <li>
                            <?php translate('<b>A 类中的所有服务</b>')?></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="promotion1" id="promotion1c">
                    <h5><?php translate('C 闪耀推广服务')?><span>RMB 12,000</span><small><?php translate('活动现场，运用Pin3D 展示技术，多维立体展示您的获奖设计作品，获得更多的合作机会')?><small></h5>
                    <ul>
                        <li>
                            <?php translate('<b>3D 展示</b>：现场大屏，通过3D互动方式展示获奖设计和品牌，配合典礼当天的媒体Tour，获得更多的合作机会')?></li>
                        <li>
                            <?php translate('<b>B 类中的所有服务</b>')?></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="promotion1" id="promotion1d">
                    <h5><?php translate('D 成功推广服务')?><span>RMB 18,000</span><small><?php translate('活动现场专属展区，立体真实地展示和推广您的品牌，为您提供与潜在客户和合作伙伴建立关系的机会。')?><small></h5>
                    <ul>
                        <li>
                            <?php translate('<b>实物展示</b>：活动现场专属展区，活动当天还将在展区安排VIP /媒体 Tour，详细讲解展示作品的设计理念和背后故事')?></li>
                        <li>
                            <?php translate('<b>广告宣传</b>：在大赛年鉴中广告宣传页用1页的篇幅推广获奖公司')?></li>
                        <li>
                            <?php translate('<b>B 类中的所有服务</b>')?></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="additional">
        <h4><img src="__PUBLIC__/img/contest2016/star.png" style="height:19px;margin-right:10px;position:relative;top:-4px;"><?php translate('增值推广服务（可选）')?></h4>
        <ul>
            <li>
                <?php translate('增值推广服务是在标准推广服务的基础上为获奖公司提供的更多推广选项')?>
            </li>
            <li>
                <?php translate('不同服务可<b>多选</b>，<b>无排他性</b>，每项服务也可<b>重复选择</b>')?></li>
        </ul>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('双页年鉴展示')?><span>RMB 3,000</span></h5>
                    <p>
                        <?php translate('用双页篇幅全面立体地展示获奖作品图片及宣传文案')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('专题报道')?><span>RMB 15,000</span></h5>
                    <p>
                        <?php translate('专业编辑进行一对一采访，在年鉴上双语报道，并推送至30家专业媒体（媒体类型可定制）')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('媒体推广')?><span>RMB 10,000</span></h5>
                    <p>
                        <?php translate('50家综合/行业类网络媒体深入报道（媒体类型可定制）')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('微信传播')?><span>RMB 1,000</span></h5>
                    <p>
                        <?php translate('成功设计平台微信公众号头条发布1条文案')?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('3D展示')?><span>RMB 5,000</span></h5>
                    <p>
                        <?php translate('现场大屏，3D互动方式展示获奖作品')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('实物展示')?><span>RMB 12,000</span></h5>
                    <p>
                        <?php translate('活动现场设专属展区，并在展区安排VIP /媒体 Tour，详细讲解展示作品')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('增订奖杯&奖状')?><span><?php translate('RMB 500/套')?></span></h5>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="promotion2">
                    <h5><?php translate('增订年鉴')?><span><?php translate('RMB 200/本')?></span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section2">
    <h3 style="font-size:20px;margin-bottom:20px;color:#333;"><?php translate('推广服务细则')?></h3>
    <div style="padding-left:12px;padding-right:12px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('1. 奖杯 & 奖状')?></h5>
                    <p>
                        <?php translate('为您的获奖作品定制专属获奖证书和奖杯，可在各大活动现场和展厅展示您的荣誉，提供您的品牌价值和可信度，彰显您的获奖殊荣。')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('2. 年鉴展示')?></h5>
                    <p>
                        <?php translate('在年鉴上以整页篇幅展示您的获奖作品，传递您的设计理念和品牌价值并将会发送给所有的参赛者、评委、媒体合作伙伴等合作机构。')?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('3. 颁奖典礼')?></h5>
                    <p>
                        <?php translate('参加年度颁奖典礼，展现您的获奖殊荣，同时向业内设计大咖展示您的成功设计，建立行业链接和合作机会。')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('4. 创新赋能大会')?></h5>
                    <p>
                        <?php translate('参与大咖互动分享，向商业领袖传达示您设计概念，彼此交流碰撞，建立合作机会。')?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('5. 获奖标示')?></h5>
                    <p>
                        <?php translate('得奖者有权使用大赛标识作为宣传素材，可运用在网站、介绍册、包装、展览及广告等宣传媒介，增强您品牌推广的价值。')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('6. 双页年鉴展示')?></h5>
                    <p>
                        <?php translate('用双页篇幅，更加全面立体地展示获奖作品图片及宣传文案，向6000+位设计及商业领袖展示您的成功设计。')?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('7. 专题报道')?></h5>
                    <p>
                        <?php translate('专业编辑进行一对一采访，在年鉴上双语报道，并推送至30家专业媒体（媒体类型可定制）更加深入地展示您的作品内核。')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('8. 微信传播 ')?></h5>
                    <p>
                        <?php translate('成功设计平台微信头条发布，直接受众35000+，间接辐射100000+，向大众分享您的设计理念和故事。')?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('9. 媒体推广 ')?></h5>
                    <p>
                        <?php translate('专业编辑撰写推广文案，并在30家门户/行业网络媒体报道 ，彰显您的设计理念，提升品牌价值 （媒体类型可订制）。')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('10. 3D 展示')?></h5>
                    <p>
                        <?php translate('现场大屏，运用Pin3D 展示技术，多维立体展示您的获奖设计作品，获得更多的合作机会和资源对接。')?>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('11. 实物展示')?></h5>
                    <p>
                        <?php translate('活动现场专属展区，立体、真实展示您的获奖作品和品牌；活动当天还将在展区安排VIP /媒体 Tour，详细讲解您展示作品的设计理念和背后故事，为您提供与潜在客户和合作伙伴建立关系的机会。')?>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="explanation">
                    <h5><?php translate('12. 广告宣传')?></h5>
                    <p>
                        <?php translate('在大赛年鉴中广告宣传页用1页的篇幅推广获奖设计的品牌和公司，更全面的展示您设计背后的品牌及公司主体。')?>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section3">
    <h3 style="font-size:20px;margin-bottom:30px;color:#333;"><?php translate('购买推广服务')?></h3>
</div>
<script>
$(document).ready(function() {

});
</script>