<style>
#main {
    padding: 10px 10%;
    margin-bottom: 60px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main #submit {
    padding-left: 5%;
    border-left: 1px solid #ddd;
}

#main #submit.plain {
    padding-left: 0;
    border-left: none;
}

#main #submit #info div {
    color: #666;
    margin-bottom: 16px;
}

#main #submit #info p {
    margin-bottom: 8px;
    color: #888;
}

#main #submit #note p {
    font-size: 12px;
    color: #888;
}

#main #guide {
    padding-right: 5%;
}

#main #guide.plain {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

#main button[type="submit"] {
    color: white;
    background-color: #ff7c34;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: 20px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
    margin-bottom: -10px;
}

@media screen and (max-width: 768px) {
    img.v {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    img.h {
        display: none;
    }
}
</style>
<form class="form" method="post" action="{:U('Contest/submit_handle')}">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div id="guide">
                <h3 style="font-size:14px;color:#666;margin-top:15px;text-align:left;margin-bottom:30px;"><?php translate('注册步骤')?></h3>
                <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
                <img class="h" src="__PUBLIC__/img/contest2016/process4hen.png" alt="" style="width:100%;max-width:400px;margin:0 auto;">
                <img class="v" src="__PUBLIC__/img/contest2016/process4ven.png" alt="" style="width:100%;max-width:400px;margin:0 auto;">
                <?php } else{ ?>
                <img class="h" src="__PUBLIC__/img/contest2016/process4h.png" alt="" style="width:100%;max-width:400px;margin:0 auto;">
                <img class="v" src="__PUBLIC__/img/contest2016/process4v.png" alt="" style="width:100%;max-width:400px;margin:0 auto;">
                <?php } ?>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div id="submit">
                <h3 class="title"><?php translate('提交作品')?></h3>
                <div id="note">
                    <p>
                        <?php translate('只有<span>成功提交</span>的作品，才能最终进入<span>审核环节</span>')?></p>
                    <p>
                        <?php translate('请注意，提交之后将<span>无法再次编辑</span>作品各项信息')?></p>
                </div>
                <div style="padding:15px;border:1px solid #ddd;border-radius:5px;margin-top:20px;">
                    <div id="info">
                        <div>
                            <p>
                                <?php translate('作品名（英文）')?>
                            </p>{$submission.titlee}</div>
                        <div>
                            <p>
                                <?php translate('作品名（中文）')?>
                            </p>{$submission.titlec}</div>
                        <div style="margin-bottom:0;">
                            <p>
                                <?php translate('作品类别')?>
                            </p>{$submission.category}</div>
                    </div>
                </div>
                <p style="font-size:12px;color:#888;margin-top:20px;">
                    <?php translate('成功提交的作品无法再次编辑，因此建议在截止日期前的最后时间内提交，为作品的修改和完善保留更改的机会')?>
                </p>
                <input type="text" style="display:none;" name="id" value="{$submission['id']}">
                <div style="text-align:center;">
                    <if condition="$submission['issubmitted'] == 1">
                        <button type="submit" class="btn btn-success disabled" style="opacity:1;">
                            <?php translate('已提交')?>
                        </button>
                        <else/>
                        <button type="submit" class="btn btn-success" style="opacity:1;">
                            <?php translate('提交')?>
                        </button>
                    </if>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
$(document).ready(function() {
    if ($(window).width() < 768) {
        $('#main #submit').addClass('plain');
        $('#main #guide').addClass('plain');
    } else {
        $('#main #submit').removeClass('plain');
        $('#main #guide').removeClass('plain');
    }
    $(window).resize(function(event) {
        if ($(this).width() < 768) {
            $('#main #submit').addClass('plain');
            $('#main #guide').addClass('plain');
        } else {
            $('#main #submit').removeClass('plain');
            $('#main #guide').removeClass('plain');
        }
    });
});
</script>