<style>
#main {
    text-align: center;
    background-color: transparent;
}

#main h3 {
    color: #333;
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 25px;
}

#main p {
    text-align: left;
    margin-bottom: 20px;
}

#main #section2 {
    padding: 20px 5% 30px 5%;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    margin-bottom: 60px;
}

#main #section2 .join,
#main #section6 .join,
#main #section7 .join {
    color: white;
    background-color: #ff7c34;
    padding: 12px 36px;
    border-radius: 5px;
    font-size: 18px;
    position: relative;
    top: 40px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
}

#main #section3 {
    margin-top: 30px;
    padding: 20px 5% 40px 5%;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 0px 3px rgba(20, 20, 20, 0.3);
}

#main #section3 #categories>p {
    color: #ef5045;
    font-size: 12px;
}

#main #section3 .category {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
    background-color: #ef5045;
    vertical-align: middle;
}

#main #section3 .category button {
    border: none;
    outline: none;
    color: white;
    background-color: #ef5045;
    height: 80px;
    width: 100px;
    border-radius: 10px;
}

#main #section3 #subcategories {
    border-radius: 5px;
    padding: 25px 10px;
    background-color: #f2f2f2;
    position: relative;
    display: none;
}

#main #section3 .subcategory {
    display: none;
    display: inline-block;
    padding: 4px 10px;
    margin: 3px 5px;
    border-radius: 3px;
    font-size: 13px;
    background-color: #9796a4;
    font-weight: lighter;
    border: 1px solid #9796a4;
    color: #fff;
}

#main #section4 {
    padding: 20px 10% 40px 10%;
    position: relative;
    text-align: left;
    background-color: #f2f2f2;
    box-shadow: 2px 0px 3px rgba(20, 20, 20, 0.3);
}

#main #section4 h3 {
    text-align: center;
}

#main #section4 h5 {
    font-size: 14px;
    color: #333;
}

#main #section4 p {
    font-size: 12px;
    display: none;
}

#main #section4 button {
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-size: 12px;
    font-style: italic;
    color: #888;
}

#main #section4 .row .col-xs-12>div {
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
}

#main #section4 .row .col-xs-12>div h5 {
    display: inline-block;
}

#main #section4 .row .col-xs-12>div p {
    margin-top: 10px;
    margin-bottom: 0px;
}

#main #section4 .row .col-xs-12 div img {
    position: absolute;
    left: -8px;
    top: 9px;
    width: 16px;
}

#main #section5 {
    padding: 20px 0 40px 0;
    background-color: #fff;
    box-shadow: 2px 0px 3px rgba(20, 20, 20, 0.3);
}

#main #section5 p {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 12px;
    font-size: 13px;
}

#main #section6 {
    padding: 20px 0 30px 0;
    background-color: #f2f2f2;
    margin-bottom: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
}

#main #section6 .row {
    margin-top: 20px;
}

#main #section6 .row div {
    position: relative;
}

#main #section6 .row img {
    position: absolute;
    left: -20px;
    top: 4px;
}

#main #section6 .row p {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 12px;
}

#main #section7 {
    padding: 20px 10% 40px 10%;
    background-color: #fff;
    margin-bottom: 60px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
}
#main #section7 .join {
    position: relative;
    top: 50px;
}
#main #section7 h4 {
    color: #f90;
    margin-bottom: 15px;
    font-size: 16px;
}
#main #section7 .promotion1 {
    text-align: center;
    background-color: #ef5045;
    padding: 25px 6%;
    margin: 10px 0px;
    color: #fff;
}
#main #section7 .promotion1 h5 {
    margin-top: 5px;
    margin-bottom: 0;
}
#main #section7 .promotion1 p {
    text-align: center;
    margin-bottom: 0;
}
#main #section7 .promotion2 {
    text-align: center;
    background-color: #ef5045;
    padding: 6px 6%;
    margin: 6px 0px;
    color: #fff;
}
#main #section7 .promotion2 h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}
</style>
<div id="section1">
    <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
    <img src="__PUBLIC__/img/contest2016/banneren.png" style="width:100%;">
    <?php } else{ ?>
    <img src="__PUBLIC__/img/contest2016/banner.png" style="width:100%;">
    <?php } ?>
</div>
<div id="section2">
    <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
    <h3 style="font-size:25px;"><?php translate('国内首个评估设计商业和社会价值的<br/>全球综合类设计大赛')?></h3>
    <?php } else{ ?>
    <h3 style="font-size:20px;"><?php translate('国内首个评估设计商业和社会价值的<br/>全球综合类设计大赛')?></h3>
    <?php } ?>
    <p>
        <?php translate('成功设计大赛是中国最具影响力的国际化商业设计大赛。')?>
    </p>
    <p>
        <?php translate('创立于2006年，历经多年辉煌积淀，它已成为设计创新与管理的标杆。不同于其他设计赛事，成功设计大赛不仅仅关注设计风格，更注重的是从管理者的角度审视设计，挖掘设计背后的策略、流程以及对企业、社会、环境、人类生活带来的价值和深远影响。')?>
    </p>
    <p>
        <?php translate('我们的舞台既有众多知名企业科勒、飞利浦、惠普、奔驰、宝马、海尔、长虹等，也有恩诺童、Parallaxe在此一夜成名，被打造成知名设计品牌。至今，已有超过20多个国家、20多个行业，1200名的参赛企业获得了成功设计大赛的殊荣。')?>
    </p>
    <a href="{:U('Contest/apply')}" class="join">
        <?php translate('立即参加')?>
    </a>
</div>
<div id="section3">
    <h3><?php translate('大赛类别')?></h3>
    <p>
        <?php translate('我们欢迎所有对中国市场产生积极影响的设计师和设计企业前来参赛。')?>
    </p>
    <p>
        <?php translate('其设计作品需在 <span style="color:#f90;">2016年10月前在中国市场上市或已发布</span>')?></p>
    <div id="categories">
        <p>
            <?php translate('点击类别查看详细分类')?>
        </p>
        <div class="category">
            <button name="产品">
                <?php translate('产品')?>
            </button>
        </div>
        <div class="category">
            <button name="空间">
                <?php translate('空间')?>
            </button>
        </div>
        <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
        <div class="category" style="font-size:12px;">
            <button name="视觉">
                <?php translate('视觉')?>
            </button>
        </div>
        <?php } else{ ?>
        <div class="category">
            <button name="视觉">
                <?php translate('视觉')?>
            </button>
        </div>
        <?php } ?>
        <div class="category">
            <button name="营销">
                <?php translate('营销')?>
            </button>
        </div>
        <div class="category">
            <button name="商业模式">
                <?php translate('商业<br/>模式')?>
            </button>
        </div>
        <div class="category">
            <button name="社会创新">
                <?php translate('社会<br/>创新')?>
            </button>
        </div>
        <div class="category">
            <button name="众创空间">
                <?php translate('众创<br/>空间')?>
            </button>
        </div>
        <div id="subcategories">
            <button style="border:none;outline:none;background-color:#f2f2f2;position:absolute;right:0px;top:0px;"><span class="fa fa-fw fa-times"></span></button>
            <div class="subcategory" name="产品">
                <?php translate('电子、通信及数码产品')?>
            </div>
            <div class="subcategory" name="产品">
                <?php translate('工业机械及工具')?>
            </div>
            <div class="subcategory" name="产品">
                <?php translate('家居及家用电器类')?>
            </div>
            <div class="subcategory" name="产品">
                <?php translate('办公类用品')?>
            </div>
            <div class="subcategory" name="产品">
                <?php translate('医疗设备')?>
            </div>
            <div class="subcategory" name="产品">
                <?php translate('娱乐设备')?>
            </div>
            <div class="subcategory" name="产品">
                <?php translate('交通工具')?>
            </div>
            <div class="subcategory" name="空间">
                <?php translate('酒店')?>
            </div>
            <div class="subcategory" name="空间">
                <?php translate('1000平米以下工作空间')?>
            </div>
            <div class="subcategory" name="空间">
                <?php translate('公共空间')?>
            </div>
            <div class="subcategory" name="空间">
                <?php translate('商业空间')?>
            </div>
            <div class="subcategory" name="空间">
                <?php translate('1000平米以上工作空间')?>
            </div>
            <div class="subcategory" name="空间">
                <?php translate('多层住宅')?>
            </div>
            <div class="subcategory" name="空间">
                <?php translate('单个住宅')?>
            </div>
            <div class="subcategory" name="空间">
                <?php translate('景观设计')?>
            </div>
            <div class="subcategory" name="视觉">
                <?php translate('包装设计')?>
            </div>
            <div class="subcategory" name="视觉">
                <?php translate('企业形象识别')?>
            </div>
            <div class="subcategory" name="视觉">
                <?php translate('海报')?>
            </div>
            <div class="subcategory" name="视觉">
                <?php translate('字体')?>
            </div>
            <div class="subcategory" name="营销">
                <?php translate('展览/展示')?>
            </div>
            <div class="subcategory" name="营销">
                <?php translate('活动策划')?>
            </div>
            <div class="subcategory" name="营销">
                <?php translate('广告策划')?>
            </div>
            <div class="subcategory" name="商业模式">
                <?php translate('创新的管理模式')?>
            </div>
            <div class="subcategory" name="商业模式">
                <?php translate('商业模式')?>
            </div>
            <div class="subcategory" name="社会创新">
                <?php translate('推动社会发展的非营利性项目')?>
            </div>
            <div class="subcategory" name="众创空间">
                <?php translate('联合空间')?>
            </div>
            <div class="subcategory" name="众创空间">
                <?php translate('孵化器')?>
            </div>
            <div class="subcategory" name="众创空间">
                <?php translate('创业加速器')?>
            </div>
            <div class="subcategory" name="众创空间">
                <?php translate('创新空间')?>
            </div>
            <div class="subcategory" name="众创空间">
                <?php translate('创业咖啡')?>
            </div>
        </div>
    </div>
</div>
<div id="section4">
    <h3><?php translate('获奖收益')?></h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <img src="__PUBLIC__/img/contest2016/star.png" alt="">
                <h5><?php translate('成功设计标识')?></h5>
                <button>read more</button>
                <p>
                    <?php translate('获奖标识只要您的参赛作品获奖，您就可以使用成功设计标识。成功设计标识的使用不受时间或区域限制，线上线下、广告新闻均可使用。得奖者可在成功设计平台官网下载获奖标识。')?>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <img src="__PUBLIC__/img/contest2016/star.png" alt="">
                <h5><?php translate('成功设计线上展览')?></h5>
                <button>read more</button>
                <p>
                    <?php translate('您的获奖作品将在颁奖典礼后发布于成功设计线上展览，更棒的是这是一项永久福利，展览没有时间限制！您将成为行业标杆之一，名列杰出企业之列。这更是为您提供与社会大众交流的平台，以提高您的品牌影响力。')?>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <img src="__PUBLIC__/img/contest2016/star.png" alt="">
                <h5><?php translate('成功设计大奖年鉴')?></h5>
                <button>read more</button>
                <p>
                    <?php translate('今年所有获奖作品将被收录入《2016 成功设计大赛》年鉴，以展示获奖作品、分享成功设计和团队背后的故事。')?>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <img src="__PUBLIC__/img/contest2016/star.png" alt="">
                <h5><?php translate('成功设计之夜')?></h5>
                <button>read more</button>
                <p>
                    <?php translate('获奖者将受邀参加于2016年9月举行的“ 成功设计之夜”颁奖典礼。最成功设计大奖得主将在聚光灯下接受颁奖。届时将有各大主流媒体前来报道， 是您进行品牌宣传的极好机会。另外也会有专业摄影师拍照记录，照片可在活动后下载，作为您宣传的助力。')?>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <img src="__PUBLIC__/img/contest2016/star.png" alt="">
                <h5><?php translate('证书与奖杯')?></h5>
                <button>read more</button>
                <p>
                    <?php translate('颁奖典礼当日，获奖者将获得一套相关获奖作品的获奖证书和奖杯，以彰显获奖者的殊荣。另外在活动后，获奖者可以获得自己的电子版获奖证书，以作宣传使用。')?>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <img src="__PUBLIC__/img/contest2016/star.png" alt="">
                <h5><?php translate('成功设计自媒体传播')?></h5>
                <button>read more</button>
                <p>
                    <?php translate('您的获奖作品将在颁奖典礼后发布于成功设计线上展览及微信传播！您将成为行业标杆之一，名列杰出企业之列。这更是为您提供与社会大众交流的平台，以提高您的品牌影响力。')?>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <img src="__PUBLIC__/img/contest2016/star.png" alt="">
                <h5><?php translate('更多定制推广服务')?></h5>
                <button>read more</button>
                <p>
                    <?php translate('获奖作品将有机会被推荐接受我们合作媒体和网站的专访，获得价值百万的媒体传播。可针对您的需求，定制更加多元化的线上线下的推广服务，展示您的获奖作品，加深您的品牌影响力。')?>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div>
                <img src="__PUBLIC__/img/contest2016/star.png" alt="">
                <h5><?php translate('合作赛事推荐')?></h5>
                <button>read more</button>
                <p>
                    <?php translate('成功设计大赛的获奖者将被免费推荐到亚洲设计管理论坛以及台湾的金点奖，角逐国际大奖。')?>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="section5">
    <h3><?php translate('大赛时间表')?></h3>
    <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
    <img src="__PUBLIC__/img/contest2016/scheduleen.png" style="width:90%;margin-bottom:20px;max-width:600px;" alt="">
    <?php } else{ ?>
    <img src="__PUBLIC__/img/contest2016/schedule.png" style="width:90%;margin-bottom:20px;max-width:600px;" alt="">
    <?php } ?>
    <p style="margin-top:20px;">
        <?php translate('* 早鸟报名开放至3月31日（1800RMB）')?>
    </p>
    <p>
        <?php translate('** 一般报名开放至5月31日（2000RMB）')?>
    </p>
    <p>
        <?php translate('*** 获奖者需支付后期宣传推广费用（3000RMB）')?>
    </p>
</div>
<div id="section6">
    <h3><?php translate('奖项设置')?></h3>
    <?php if (isset($_SESSION['lang']) and $_SESSION['lang'] == 'en') { ?>
    <img src="__PUBLIC__/img/contest2016/awarden.png" style="width:90%;margin-bottom:0px;max-width:600px;" alt="">
    <?php } else{ ?>
    <img src="__PUBLIC__/img/contest2016/award.png" style="width:90%;margin-bottom:0px;max-width:600px;" alt="">
    <?php } ?>
    <div style="width:90%;max-width:600px;margin:10px auto;">
        <div class="row" style="text-align:left;">
            <div style="padding-left:10%;padding-right:10%;margin-top:20px;">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="position:relative;left:5px;">
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('产品')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('空间')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('视觉')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('营销')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('商业模式')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('社会创新')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('众创空间')?>
                        </p>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="position:relative;left:25px;">
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功市场价值营销大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功绿色设计大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功社会影响大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功客户体验大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功品牌价值大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功组织影响大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功商业模式大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功创业大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功策略大奖')?>
                        </p>
                    </div>
                    <div>
                        <img src="__PUBLIC__/img/contest2016/prize.png" style="width:12px;" alt="">
                        <p>
                            <?php translate('年度成功领导力大奖')?>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <a href="{:U('Contest/apply')}" class="join">
        <?php translate('立即参加')?>
    </a>
</div>
<div id="section7">
    <h3><?php translate('推广服务')?></h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h4><?php translate('标准推广服务（必选）')?></h4>
            <div style="padding-left:6%;padding-right:6%;">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion1">
                            <h5><?php translate('A 基础推广服务')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion1">
                            <h5><?php translate('B 展示推广服务')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion1">
                            <h5><?php translate('C 闪耀推广服务')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion1">
                            <h5><?php translate('D 成功推广服务')?></h5>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h4><?php translate('增值推广服务（可选）')?></h4>
            <div style="padding-left:6%;padding-right:6%;">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion2">
                            <h5><?php translate('双页年鉴展示')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion2">
                            <h5><?php translate('专题报道')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion2">
                            <h5><?php translate('媒体推广')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion2">
                            <h5><?php translate('微信传播')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion2">
                            <h5><?php translate('3D展示')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion2">
                            <h5><?php translate('实物展示')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion2">
                            <h5><?php translate('增订奖杯&奖状')?></h5>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="promotion2">
                            <h5><?php translate('增订年鉴')?></h5>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>  
    <a href="{:U('Contest/promotion')}" class="join">
        <?php translate('了解更多')?>
    </a>
</div>    
<script>
$(document).ready(function() {
    $('#section3 .subcategory').hide();
    $('#section3 .category button').click(function() {
        var cate = $(this).attr('name');
        $('#section3 .subcategory').hide();
        $('#section3 .subcategory[name="' + cate + '"]').show();
        $('#section3 #subcategories').show();
        $('#section3 .category').hide();
    });
    $('#section3 #subcategories button').click(function(event) {
        event.preventDefault();
        $('#section3 #subcategories').hide();
        $('#section3 .category').show();
    });

    $('#section4 button').click(function(event) {
        event.preventDefault();
        var p = $(this).next('p')
        p.fadeIn('fast');
    });
});
</script>