<style>
body {
    background-image: url(__PUBLIC__/img/signbg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header,
nav,
footer {
    display: none;
}

#main form {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px 50px;
    padding-bottom: 50px;
}

#main form #title {
    font-size: 27px;
    color: #34495E;
    margin-bottom: 20px;
}

#main span#submit {
    background-color: #77c651;
    width: 100%;
    color: #f9f9f9;
    font-size: 18px;
    border: none;
    height: 46px;
    margin-top: 5px;
    padding-top: 10px;
}
#main form div:last-child {
	margin-top: 20px;
}
#main form div:last-child a {
	color: #666;
	margin-left: 5px;
	margin-right: 5px;
}
#main form div:last-child a:hover {
	color: #333;
}
#main #result {
    display: none;
    margin-top: 25px;
    color: #F05036;
}
</style>
<form class="form">
    <a href="{:U('Index/index')}">
        <img src="__PUBLIC__/img/logo.png" alt="" style="width:120px;margin-bottom:10px;">
    </a>
    <p id="title"><?php translate('重置密码')?></p>
    <p style="margin-top:20px;"><?php translate('请输入注册邮箱')?></p>
    <div class="form-group">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="email" class="form-control" placeholder="<?php translate('邮箱')?>">
        </div>
    </div>
    <span id="submit" class="btn btn-primary"><?php translate('提交')?></span>
    <p id="result"><?php translate('重置邮件已发送，请登录您的邮箱查收')?></p>
    <div>
        <a href="{:U('Index/login')}"><?php translate('已有账号')?></a>
        <a href="{:U('Index/register')}"><?php translate('注册账号')?></a>
    </div>
</form>
<script>
$(document).ready(function() {
    $('#main span#submit').click(function(event) {
        $(this).hide();
        $('#main #result').show();
        $.ajax({
            url: "{:U('Index/reset_send')}",
            type: 'POST',
            dataType: 'json',
            data: {
                email: $('#main form input[name="email"]').val()
            },
        })
        .done(function() {
            console.log("success");
        })
        .fail(function() {
            console.log("error");
        })
        .always(function() {
            console.log("complete");
        });
        
    });
});
</script>