<style>
#main {
    padding: 40px 6%;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
}

header,
nav,
footer {
    display: none;
}

#main img {
    width: 100%;
}
#main h3 {
	color: #333;
	font-size: 22px;
    margin-bottom: 40px;
}
#main h4 {
	color: #444;
	font-size: 18px;
}
#main p {
	font-size: 15px;
	margin-bottom: 5px;
	color: #555;
}
</style>
<div style="text-align:center;max-width:768px;margin:0 auto;">
	<!-- <h3 style="margin-bottom:40px;">成功设计大赛等你来挑战！</h3>
    <h4 style="margin-bottom:30px;">以成功设计影响中国创新</h4>
    <img src="__PUBLIC__/img/kol/img1.png" alt="" style="margin-bottom:30px;">
    <p>如果你的设计推演社会发展</p>
    <p>如果你的设计重构商业奇点</p>
    <p style="margin-bottom:30px;">如果你的设计派生魔鬼的创业步伐</p>
    <h4 style="margin-bottom:15px;">成功设计大赛就是你的</h4>
    <img src="__PUBLIC__/img/kol/img2.png" alt="" style="margin-bottom:30px;">
    <p>成功设计大赛嫁接市场与需求，</p>
    <p>让设计逼格抢占眼球</p>
    <p>成功设计大赛联通商业与社会，</p>
    <p>让设计价值攻占心智</p>
    <p>成功设计大赛独创SPR评审系统，</p>
    <p style="margin-bottom:30px;">让国际大师为你的作品大鸣大放</p>
    <img src="__PUBLIC__/img/kol/img3.png" alt="" style="margin-bottom:30px;">
    <h4>在寻找自我价值的路上</h4>
    <h4 style="margin-bottom:30px;">成功设计大赛始终随你左右</h4>
    <img src="__PUBLIC__/img/kol/img4.png" alt="" style="margin-bottom:20px;"> -->
	<h3>我是{$kol.name}，我推荐</h3>
	<!-- <h4 style="margin-bottom:20px;">我在成功设计大赛等你</h4> -->
    <img src="__PUBLIC__/img/kol/image1.png" alt="" style="margin-bottom:20px;">
    <h3>参加成功设计大赛</h3>
    <img src="__PUBLIC__/img/kol/image2.png" alt="" style="margin-bottom:20px;">
	<p style="color:#555;margin-bottom:12px;">长按二维码，一键完成报名！</p>
	<img src="__PUBLIC__{$kol['qrcode']}" alt="" style="width:60%;margin-left:20%;margin-right:20%;">
</div>
<script>
$(document).ready(function() {
    $('title').text('我为成功设计大赛代言');
});
</script>