<style>
#main {
    padding: 40px 6%;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
}

header,
nav,
footer {
    display: none;
}

#main img {
    width: 100%;
}

#main h3 {
    color: #333;
    font-size: 22px;
    margin-bottom: 40px;
}

#main h4 {
    color: #444;
    font-size: 18px;
}

#main p {
    font-size: 15px;
    margin-bottom: 5px;
    color: #555;
}
</style>
<div style="text-align:center;max-width:768px;margin:0 auto;">
    <!-- <h3 style="margin-bottom:40px;">成功设计大赛等你来挑战！</h3>
    <h4 style="margin-bottom:30px;">以成功设计影响中国创新</h4>
    <img src="__PUBLIC__/img/kol/img1.png" alt="" style="margin-bottom:30px;">
    <p>如果你的设计推演社会发展</p>
    <p>如果你的设计重构商业奇点</p>
    <p style="margin-bottom:30px;">如果你的设计派生魔鬼的创业步伐</p>
    <h4 style="margin-bottom:15px;">成功设计大赛就是你的</h4>
    <img src="__PUBLIC__/img/kol/img2.png" alt="" style="margin-bottom:30px;">
    <p>成功设计大赛嫁接市场与需求，</p>
    <p>让设计逼格抢占眼球</p>
    <p>成功设计大赛联通商业与社会，</p>
    <p>让设计价值攻占心智</p>
    <p>成功设计大赛独创SPR评审系统，</p>
    <p style="margin-bottom:30px;">让国际大师为你的作品大鸣大放</p>
    <img src="__PUBLIC__/img/kol/img3.png" alt="" style="margin-bottom:30px;">
    <h4>在寻找自我价值的路上</h4>
    <h4 style="margin-bottom:30px;">成功设计大赛始终随你左右</h4>
    <img src="__PUBLIC__/img/kol/img4.png" alt="" style="margin-bottom:20px;"> -->
    <h3>我是{$kol.name}，我推荐</h3>
    <!-- <h4 style="margin-bottom:20px;">我在成功设计大赛等你</h4> -->
    <img src="__PUBLIC__/img/kol/image1.png" alt="" style="margin-bottom:20px;">
    <h3>参加成功设计大赛</h3>
    <img src="__PUBLIC__/img/kol/image2.png" alt="" style="margin-bottom:20px;">
    <p style="color:#555;margin-bottom:12px;">长按二维码，一键完成报名！</p>
    <img src="__PUBLIC__{$kol['qrcode']}" alt="" style="width:60%;margin-left:20%;margin-right:20%;">
    <div style="text-align:left;margin-top:20px;margin-bottom:15px;">
        <section style="border-top-width: 2px; border-top-style: solid; border-color: rgb(249, 110, 87); padding-top: 3px; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box; " class="tn-Powered-by-XIUMI">
            <section style="display: inline-block; padding-right: 0.5em; padding-left: 0.5em; height: 2em; line-height: 2em; vertical-align: top; font-size: 1em; font-family: inherit; background-color: rgb(249, 110, 87); box-sizing: border-box; " class="tn-Powered-by-XIUMI">
                <section style="box-sizing: border-box; " class="tn-Powered-by-XIUMI">关于成功设计大赛</section>
            </section>
            <section style="width: 0px; display: inline-block; vertical-align: top; border-left-width: 0.8em; border-left-style: solid; border-left-color: rgb(249, 110, 87); border-top-width: 1em; border-top-style: solid; border-top-color: rgb(249, 110, 87); border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important; font-size: 1em; font-family: inherit; box-sizing: border-box;position:relative;left:-4px;" class="tn-Powered-by-XIUMI"></section>
        </section>
    </div>
    <div style="text-align:left;">
        <p style="color:#333;">成功设计大赛是中国最具影响力的国际化商业设计大赛。</p>
        <p style="color:#333;">创立于2006年，历经多年辉煌积淀，它已成为设计创新与管理的标杆。不同于其他设计赛事，成功设计大赛不仅仅关注设计风格，更注重的是从管理者的角度审视设计，挖掘设计背后的策略、流程以及对企业、社会、环境、人类生活带来的价值和深远影响。</p>
        <p style="color:#333;">我们的舞台既有众多知名企业科勒、飞利浦、惠普、奔驰、宝马、海尔、长虹等，也有恩诺童、Parallaxe在此一夜成名，被打造成知名设计品牌。至今，已有超过20多个国家、20多个行业，1200名的参赛企业获得了成功设计大赛的殊荣。</p>
    </div>
    <div>
        <p style="font-size:12px;text-align:left;margin-top:15px;color:#111;">2015高峰论坛&颁奖典礼精彩瞬间（建议用WIFI观看）</p>
        <iframe class="video_iframe" style="z-index: 1; width: 100% !important; height: 539.25px !important; overflow: hidden;" height="539.25" width="719" frameborder="0" data-src="https://v.qq.com/iframe/preview.html?vid=t01687w69gd&amp;width=500&amp;height=375&amp;auto=0" allowfullscreen="" src="https://v.qq.com/iframe/player.html?vid=t01687w69gd&amp;width=719&amp;height=539.25&amp;auto=0" scrolling="no" id="video"></iframe>
    </div>
    <p style="margin-top:15px;">如果你也想成为宣传大使，<a href="https://mp.weixin.qq.com/s?__biz=MzA5NTAxOTkzNQ==&mid=2651813136&idx=1&sn=2653c489f37049df9080f4d0b9e5c6e1&scene=1&srcid=0514mfyzGvunwHTV31G6TO7n&key=b28b03434249256bfd8b463ee047bf17dc1d80306d73730e52e705e6353e8776afe7e554cc65d00d35a3af572841df60&ascene=0&uin=NTEzNzUwNDA%3D&devicetype=iMac+MacBookAir7%2C2+OSX+OSX+10.10.5+build(14F1713)&version=11020201&pass_ticket=V60%2FYknjagcmWTiSSmqIRU2CEeFnSHFf8%2BIuCVuJPfg%3D" target="_blank">点此了解更多</a>，为成功设计大赛代言！</p>
</div>
<script>
$(document).ready(function() {
    $('title').text('我为成功设计大赛代言');
    var vw = parseFloat($('#video').width());
    var vh = vw * 539.25 / 719;
    $('#video').height(vh).attr('src', 'https://v.qq.com/iframe/player.html?vid=t01687w69gd&amp;width=' + vw +'&amp;height=' + vh + '&amp;auto=0');
});
</script>