<style>
#main {
    padding: 40px 10%;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
}
#main .product {
	margin-bottom: 20px;
	border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    background-color: #f5f5f5;
    padding: 20px 30px;
}
#main .product p {
	font-size: 12px;
}
#main .product button {
	color: white;
    background-color: #ff7c34;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
    margin-top: 10px;
    text-decoration: none;
}
</style>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="product">
			<h4>成功设计大赛</h4>
			<p>有效时间：2016-03-31~2016-05-31</p>
			<p>成功设计大赛是中国最具影响力的国际化商业设计大赛。</p>
			<p>创立于2006年，历经多年辉煌积淀，它已成为设计创新与管理的标杆。不同于其他设计赛事，成功设计大赛不仅仅关注设计风格，更注重的是从管理者的角度审视设计，挖掘设计背后的策略、流程以及对企业、社会、环境、人类生活带来的价值和深远影响。</p>
			<p>我们的舞台既有众多知名企业科勒、飞利浦、惠普、奔驰、宝马、海尔、长虹等，也有恩诺童、Parallaxe在此一夜成名，被打造成知名设计品牌。</p>
			<p>报名参加成功设计大赛，向世界展示中国设计！</p>
			<h5>价格：2000元</h5>
			<button>购买</button>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="product">
			<h4>成功设计高峰论坛</h4>
			<p>有效时间：2016-09-11~2016-09-13</p>
			<p>这是一个瞬息万变的时代。不久前还被津津乐道的互联网思维已经成为过去式，人们已经开始在互联网+的大潮中寻找机会。但还有一股力量正在悄然暗涌，已初露锋芒，这就是设计。</p>
			<p>如果你够大胆，够前沿，够远见。9月11日，我们一起来造就一个设计+的时代。</p>
			<p>主题：设计+X= ∞</p>
			<p>三大议题：设计驱动行业变革、设计引领技术革新、设计的自我涅槃</p>
			<p>时间：9月11日 9:30-18:30；地点：上海市静安区常德路800号八佰秀</p>
			<h5>价格：3000元</h5>
			<button>购买</button>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="product">
			<h4>成功设计会员</h4>
			<p>有效时间：永久</p>
			<p>成功设计平台是平台更是共享。我们旨在在大时代大格局中开创全新的未来设计平台，通过评估设计，挖掘设计对经济、社会、行业和人类生活的积极影响。</p>
			<p>成为成功设计会员，享受定制服务，包括新闻通知和活动推送，会员可以优先体验成功设计平台线下活动，享受成功设计大赛和高峰论坛优惠报名价格，并且得到我们的推荐和宣传，冲刺国际设计大奖。</p>
			<h5>价格：20000元</h5>
			<button>购买</button>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="product">
			<h4>成功设计理事会员</h4>
			<p>有效时间：永久</p>
			<p>成功设计平台是平台更是共享。我们旨在在大时代大格局中开创全新的未来设计平台，通过评估设计，挖掘设计对经济、社会、行业和人类生活的积极影响。</p>
			<p>成为成功设计理事会员，在成功设计会员的基础上享受更多优惠和特权，并且可以参与到成功设计平台的建设中来，让我们一起为中国设计做出改变和贡献。</p>
			<h5>价格：50000元</h5>
			<button>购买</button>
		</div>
	</div>
</div>