<style>
#main {
    padding: 40px 10%;
}

#main #basic-info,
#main #basic-info-edit {
    margin-bottom: 40px;
}

#main #edit-button {
    position: absolute;
    top: 0;
    right: 0;
}

#main #job-info,
#main #other-info,
#main #job-info-edit,
#main #other-info-edit {
    padding: 30px;
    border-top: 1px solid #ddd;
}

#main #job-info div, #main #other-info div {
	color: #888;
	margin-bottom: 12px;
}

#main #job-info p, #main #other-info p {
	color: #4E6B88;
	width: 98px;
	margin-right: 20px;
	display: inline-block;
	margin-bottom: 0;
}
#main #other-info p {
	width: 70px;
}

#main #info-edit {
    display: none;
    position: relative;
    margin-top: 10px;
}

#main #info-edit p {
	color: #4E6B88;
}

#main #info-edit .form-control {
	color: #666;
}

#main #info-edit input.form-control,
#main #info-edit select.form-control {
    max-width: 400px;
}

#main select[name="gender"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#main textarea[name="introduction"] {
    resize: none;
    width: 100%;
}
</style>
<div id="info">
    <div class="row">
        <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
            <div style="position:relative" id="basic-info">
                <button id="edit-button" class="btn btn-default" style="color:#666;">编辑</button>
                <div style="width:80px;height:80px;overflow:hidden;position:absolute;left:0;top:0;">
                    <img src="__PUBLIC__{$user['portrait']}" style="width:80px;">
                </div>
                <div style="margin-left:120px;">
                    <h4 style="color:#444;">{$user.nickname}
                		<if condition="$user.gender == 1">
                			<span class="fa fa-fw fa-male" style="color:#3644F0;margin-left:10px;"></span>
                			<else/>
                			<span class="fa fa-fw fa-female" style="color:#F03636;margin-left:10px;"></span>
                		</if>
                	</h4>
                    <p style="color:#666;"><span class="fa fa-fw fa-envelope" style="margin-right:15px;"></span>{$user.email}</p>
                    <p style="color:#666;"><span class="fa fa-fw fa-phone" style="margin-right:15px;"></span>{$user.cellphone}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
            <div id="job-info">
                <div><p>单位名称（中）</p>{$user.companyc}</div>
                <div><p>单位名称（英）</p>{$user.companye}</div>
                <div><p>公司电话</p>{$user.companyp}</div>
                <div><p>职务</p>{$user.position}</div>
                <div><p>联系人（中）</p>{$user.contacterc}</div>
                <div><p>联系人（英）</p>{$user.contactere}</div>
            </div>
        </div>
        <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
            <div id="other-info">
                <div><p>联系电话</p>{$user.phone}</div>
                <div><p>传真</p>{$user.fax}</div>
                <div><p>邮编</p>{$user.zipcode}</div>
                <div><p>地址（中）</p>{$user.addressc}</div>
                <div><p>地址（英）</p>{$user.addresse}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
            <div id="personal-info">
                <div class="panel panel-default">
                    <div class="panel-heading" style="color:#4E6B88">个人简介</div>
                    <div class="panel-body" style="color:#888;">
                        {$user.introduction}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="info-edit">
    <form class="form" method="post" action="{:U('User/edit')}">
        <div class="row">
            <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                <div id="basic-info-edit" style="position:relative;">
                    <div style="position:absolute;left:0;top:0;">
                        <div style="width:80px;height:80px;overflow:hidden;">
                            <img src="__PUBLIC__{$user['portrait']}" style="width:80px;">
                        </div>
                        <p style="margin-top:15px;padding-top:6px;padding-bottom:6px;width:80px;text-align:center;border-radius:3px;border:1px solid #ddd;color:#666;">更换头像</p>
                        <input type="file" accept="image/*" style="opacity:0;position:absolute;left:0;top:0;width:80px;height:100%;z-index:999;cursor:pointer;" id="portrait" capture="camera">
                        <input type="text" name="portrait" value="" style="display:none;">
                    </div>
                    <div style="margin-left:120px;">
                        <div class="form-group">
                            <p>昵称</p>
                            <input type="text" name="nickname" class="form-control" value="{$user['nickname']}">
                        </div>
                        <div class="form-group">
                            <p>性别</p>
                            <select class="form-control" name="gender">
                                <if condition="$user.gender == 1">
                                    <option value="1" selected=selected>男</option>
                                    <option value="0">女</option>
                                    <else/>
                                    <option value="1">男</option>
                                    <option value="0" selected=selected>女</option>
                                </if>
                            </select>
                        </div>
                        <div class="form-group">
                            <p>手机</p>
                            <input type="text" name="cellphone" class="form-control" value="{$user['cellphone']}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
                <div id="job-info-edit">
                    <div class="form-group">
                        <p>单位名称（中）</p>
                        <input type="text" name="companyC" class="form-control" value="{$user['companyc']}">
                    </div>
                    <div class="form-group">
                        <p>单位名称（英）</p>
                        <input type="text" name="companyE" class="form-control" value="{$user['companye']}">
                    </div>
                    <div class="form-group">
                        <p>公司电话</p>
                        <input type="text" name="companyP" class="form-control" value="{$user['companyp']}">
                    </div>
                    <div class="form-group">
                        <p>职务</p>
                        <input type="text" name="position" class="form-control" value="{$user['position']}">
                    </div>
                    <div class="form-group">
                        <p>联系人（中）</p>
                        <input type="text" name="contacterC" class="form-control" value="{$user['contacterc']}">
                    </div>
                    <div class="form-group">
                        <p>联系人（英）</p>
                        <input type="text" name="contacterE" class="form-control" value="{$user['contactere']}">
                    </div>
                </div>
            </div>
            <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
                <div id="other-info-edit">
                    <div class="form-group">
                        <p>联系电话</p>
                        <input type="text" name="phone" class="form-control" value="{$user['phone']}">
                    </div>
                    <div class="form-group">
                        <p>传真</p>
                        <input type="text" name="fax" class="form-control" value="{$user['fax']}">
                    </div>
                    <div class="form-group">
                        <p>邮编</p>
                        <input type="text" name="zipcode" class="form-control" value="{$user['zipcode']}">
                    </div>
                    <div class="form-group">
                        <p>地址（中）</p>
                        <input type="text" name="addressC" class="form-control" value="{$user['addressc']}">
                    </div>
                    <div class="form-group">
                        <p>地址（英）</p>
                        <input type="text" name="addressE" class="form-control" value="{$user['addresse']}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                <div id="personal-info-edit" style="margin-bottom:30px;">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="color:#4E6B88;">个人简介</div>
                        <div class="panel-body">
                            <textarea rows="5" name="introduction" class="form-control">{$user.introduction}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">保存</button>
    </form>
</div>
<script>
$(document).ready(function() {
    $('#edit-button').click(function(event) {
        $('#info').hide();
        $('#info-edit').show();
    });

    var portrait = '';
    $('#info-edit input#portrait').change(function() {
        lrz($(this)[0].files[0], {
                width: 200,
                height: 200,
                quality: 0.8
            })
            .then(function(rst) {
                portrait = rst.base64;
                $('#basic-info-edit img').attr('src', portrait);
                $('#info-edit input[name="portrait"]').val(portrait);
            })
            .catch(function(err) {
                // 处理失败会执行
            })
            .always(function() {
                // 不管是成功失败，都会执行
            });
    });
});
</script>