<style>
#main {
    padding: 30px 6%;
    padding-bottom: 10px;
    margin-bottom: 60px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main a[role='tab'] {
    color: #999;
    font-size: 13px;
}

#main li.active a[role='tab'] {
    color: #555;
}

#main ul.nav-tabs span.count {
    margin-left: 6px;
    color: #F05036;
}

#main ul.nav-tabs span.fa {
    display: none;
}

#main ul.nav-tabs span.word {
    display: none;
}

#main .tab-pane h4 {
    color: #444;
}

#main table td,
#main table th {
    text-align: center;
}

#main #add_new, #main #past_submissions {
    color: white;
    background-color: #ff7c34;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 13px;
    position: relative;
    top: 30px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
}
#main .reremove {
    display: none;
}
#main .join {
    color: white;
    background-color: #ff7c34;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: 20px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
}
</style>
<div style="position:relative;">
    <a href="{:U('User/past_submissions')}" id="past_submissions" class="btn btn-default" style="font-size:13px;position:absolute;top:55px;right:110px;">
        <?php translate('往季作品')?>
    </a>
    <a href="{:U('Contest/apply',array('from'=>'home'))}" class="btn btn-success" style="font-size:13px;position:absolute;top:55px;right:0px;" id="add_new">
        <?php translate('添加新作品')?>
    </a>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom:23px;">
        <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab"><span class="word"><?php translate('全部作品')?></span><span class="fa fa-fw fa-tasks"></span><span class="count">{$all|count=###}</span></a></li>
        <li role="presentation"><a href="#notcomplete" aria-controls="notcomplete" role="tab" data-toggle="tab"><span class="word"><?php translate('信息未完成')?></span><span class="fa fa-fw fa-pencil-square-o"></span><span class="count">{$notcomplete|count=###}</span></a></li>
        <li role="presentation"><a href="#notpaied" aria-controls="notpaied" role="tab" data-toggle="tab"><span class="word"><?php translate('未付款作品')?></span><span class="fa fa-fw fa-dollar"></span><span class="count">{$notpaied|count=###}</span></a></li>
        <li role="presentation"><a href="#notsubmitted" aria-controls="notsubmitted" role="tab" data-toggle="tab"><span class="word"><?php translate('未提交作品')?></span><span class="fa fa-fw fa-paper-plane-o"></span><span class="count">{$notsubmitted|count=###}</span></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all">
            <h4 style="font-size:20px;margin-bottom:20px;"><?php translate('全部作品')?></h4>
            <table class="table table-hover">
                <tr>
                    <th>
                        <?php translate('作品名称')?>
                    </th>
                    <th>
                        <?php translate('信息完整度')?>
                    </th>
                    <th>
                        <?php translate('作品状态')?>
                    </th>
                    <th>
                        <?php translate('操作')?>
                    </th>
                </tr>
                <foreach name="all" item="v">
                    <tr class='cell'>
                        <td style="width:55%;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <img src="__PUBLIC__{$v['image']}" alt="" style="width:100%;max-width:250px;margin:5px auto;border-radius:3px;box-shadow:1px 1px 3px rgba(20,20,20,0.4);">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <p style="font-size:13px;margin-top:10px;color:#666;">{$v.titlee}</p>
                                    <p style="font-size:13px;color:#666;">{$v.titlec}</p>
                                </div>
                            </div>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <p style="margin-top:10px;color:#888;">{$v.completeness}%</p>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <?php 
                            if ($v['ispaied'] == 1) { 
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('已支付').'</p>';
                            }
                            elseif ($v['pay_confirm'] == 1) {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('支付中').'</p>';
                            }
                            else {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('未支付').'</p>';
                            }
                            if ($v['issubmitted'] == 1) { 
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('已提交').'</p>';
                            }
                            else {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('未提交').'</p>';
                            }
                            ?>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <p style="margin-top:10px;">
                                <a href="{:U('User/submission', array('id'=>$v['id']))}">
                                    <?php translate('详情')?>
                                </a>
                            </p>
                            <if condition="$v['ispaied'] == 0 and $v['pay_confirm'] == 0">
                                <p>
                                    <a href="{:U('Contest/pay', array('id'=>$v['id']))}">
                                        <?php translate('支付')?>
                                    </a>
                                </p>
                                <p>
                                    <a href="" class='remove'>
                                        <?php translate('删除')?>
                                    </a>
                                    <a href="{:U('Contest/delete', array('id'=>$v['id']))}" class="reremove">
                                        <?php translate('确定删除？')?>
                                    </a>
                                </p>
                                <elseif condition="$v['ispaied'] == 1 and $v['issubmitted'] == 0" />
                                <p>
                                    <a href="{:U('Contest/info', array('id'=>$v['id']))}">
                                        <?php translate('编辑')?>
                                    </a>
                                </p>
                                <p>
                                    <a href="{:U('Contest/submit', array('id'=>$v['id']))}">
                                        <?php translate('提交')?>
                                    </a>
                                </p>
                            </if>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="notcomplete">
            <h4 style="font-size:20px;margin-bottom:20px;"><?php translate('信息未完成')?></h4>
            <table class="table table-hover">
                <tr>
                    <th>
                        <?php translate('作品名称')?>
                    </th>
                    <th>
                        <?php translate('信息完整度')?>
                    </th>
                    <th>
                        <?php translate('作品状态')?>
                    </th>
                    <th>
                        <?php translate('操作')?>
                    </th>
                </tr>
                <foreach name="notcomplete" item="v">
                    <tr class='cell'>
                        <td style="width:55%;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <img src="__PUBLIC__{$v['image']}" alt="" style="width:100%;max-width:250px;margin:5px auto;border-radius:3px;box-shadow:1px 1px 3px rgba(20,20,20,0.4);">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <p style="font-size:13px;margin-top:10px;color:#666;">{$v.titlee}</p>
                                    <p style="font-size:13px;color:#666;">{$v.titlec}</p>
                                </div>
                            </div>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <p style="margin-top:10px;color:#888;">{$v.completeness}%</p>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <?php 
                            if ($v['ispaied'] == 1) { 
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('已支付').'</p>';
                            }
                            elseif ($v['pay_confirm'] == 1) {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('支付中').'</p>';
                            }
                            else {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('未支付').'</p>';
                            }
                            if ($v['issubmitted'] == 1) { 
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('已提交').'</p>';
                            }
                            else {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('未提交').'</p>';
                            }
                            ?>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <p style="margin-top:10px;">
                                <a href="{:U('User/submission', array('id'=>$v['id']))}">
                                    <?php translate('详情')?>
                                </a>
                            </p>
                            <if condition="$v['ispaied'] == 0 and $v['pay_confirm'] == 0">
                                <p>
                                    <a href="{:U('Contest/pay', array('id'=>$v['id']))}">
                                        <?php translate('支付')?>
                                    </a>
                                </p>
                                <p>
                                    <a href="" class='remove'>
                                        <?php translate('删除')?>
                                    </a>
                                    <a href="{:U('Contest/delete', array('id'=>$v['id']))}" class="reremove">
                                        <?php translate('确定删除？')?>
                                    </a>
                                </p>
                                <elseif condition="$v['ispaied'] == 1 and $v['issubmitted'] == 0" />
                                <p>
                                    <a href="{:U('Contest/info', array('id'=>$v['id']))}">
                                        <?php translate('编辑')?>
                                    </a>
                                </p>
                                <p>
                                    <a href="{:U('Contest/submit', array('id'=>$v['id']))}">
                                        <?php translate('提交')?>
                                    </a>
                                </p>
                            </if>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="notpaied">
            <h4 style="font-size:20px;margin-bottom:20px;"><?php translate('未付款作品')?></h4>
            <table class="table table-hover">
                <tr>
                    <th>
                        <?php translate('作品名称')?>
                    </th>
                    <th>
                        <?php translate('信息完整度')?>
                    </th>
                    <th>
                        <?php translate('作品状态')?>
                    </th>
                    <th>
                        <?php translate('操作')?>
                    </th>
                </tr>
                <foreach name="notpaied" item="v">
                    <tr class='cell'>
                        <td style="width:55%;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <img src="__PUBLIC__{$v['image']}" alt="" style="width:100%;max-width:250px;margin:5px auto;border-radius:3px;box-shadow:1px 1px 3px rgba(20,20,20,0.4);">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <p style="font-size:13px;margin-top:10px;color:#666;">{$v.titlee}</p>
                                    <p style="font-size:13px;color:#666;">{$v.titlec}</p>
                                </div>
                            </div>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <p style="margin-top:10px;color:#888;">{$v.completeness}%</p>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <?php 
                            if ($v['ispaied'] == 1) { 
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('已支付').'</p>';
                            }
                            elseif ($v['pay_confirm'] == 1) {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('支付中').'</p>';
                            }
                            else {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('未支付').'</p>';
                            }
                            if ($v['issubmitted'] == 1) { 
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('已提交').'</p>';
                            }
                            else {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('未提交').'</p>';
                            }
                            ?>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <p style="margin-top:10px;">
                                <a href="{:U('User/submission', array('id'=>$v['id']))}">
                                    <?php translate('详情')?>
                                </a>
                            </p>
                            <if condition="$v['ispaied'] == 0 and $v['pay_confirm'] == 0">
                                <p>
                                    <a href="{:U('Contest/pay', array('id'=>$v['id']))}">
                                        <?php translate('支付')?>
                                    </a>
                                </p>
                                <p>
                                    <a href="" class='remove'>
                                        <?php translate('删除')?>
                                    </a>
                                    <a href="{:U('Contest/delete', array('id'=>$v['id']))}" class="reremove">
                                        <?php translate('确定删除？')?>
                                    </a>
                                </p>
                                <elseif condition="$v['ispaied'] == 1 and $v['issubmitted'] == 0" />
                                <p>
                                    <a href="{:U('Contest/info', array('id'=>$v['id']))}">
                                        <?php translate('编辑')?>
                                    </a>
                                </p>
                                <p>
                                    <a href="{:U('Contest/submit', array('id'=>$v['id']))}">
                                        <?php translate('提交')?>
                                    </a>
                                </p>
                            </if>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="notsubmitted">
            <h4 style="font-size:20px;margin-bottom:20px;"><?php translate('未提交作品')?></h4>
            <table class="table table-hover">
                <tr>
                    <th>
                        <?php translate('作品名称')?>
                    </th>
                    <th>
                        <?php translate('信息完整度')?>
                    </th>
                    <th>
                        <?php translate('作品状态')?>
                    </th>
                    <th>
                        <?php translate('操作')?>
                    </th>
                </tr>
                <foreach name="notsubmitted" item="v">
                    <tr class='cell'>
                        <td style="width:55%;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <img src="__PUBLIC__{$v['image']}" alt="" style="width:100%;max-width:250px;margin:5px auto;border-radius:3px;box-shadow:1px 1px 3px rgba(20,20,20,0.4);">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <p style="font-size:13px;margin-top:10px;color:#666;">{$v.titlee}</p>
                                    <p style="font-size:13px;color:#666;">{$v.titlec}</p>
                                </div>
                            </div>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <p style="margin-top:10px;color:#888;">{$v.completeness}%</p>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <?php 
                            if ($v['ispaied'] == 1) { 
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('已支付').'</p>';
                            }
                            elseif ($v['pay_confirm'] == 1) {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('支付中').'</p>';
                            }
                            else {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('未支付').'</p>';
                            }
                            if ($v['issubmitted'] == 1) { 
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('已提交').'</p>';
                            }
                            else {
                                echo '<p style="margin-top:10px;color:#888;">'.translate_return('未提交').'</p>';
                            }
                            ?>
                        </td>
                        <td style="width:15%;min-width:60px;">
                            <p style="margin-top:10px;">
                                <a href="{:U('User/submission', array('id'=>$v['id']))}">
                                    <?php translate('详情')?>
                                </a>
                            </p>
                            <if condition="$v['ispaied'] == 0 and $v['pay_confirm'] == 0">
                                <p>
                                    <a href="{:U('Contest/pay', array('id'=>$v['id']))}">
                                        <?php translate('支付')?>
                                    </a>
                                </p>
                                <p>
                                    <a href="" class='remove'>
                                        <?php translate('删除')?>
                                    </a>
                                    <a href="{:U('Contest/delete', array('id'=>$v['id']))}" class="reremove">
                                        <?php translate('确定删除？')?>
                                    </a>
                                </p>
                                <elseif condition="$v['ispaied'] == 1 and $v['issubmitted'] == 0" />
                                <p>
                                    <a href="{:U('Contest/info', array('id'=>$v['id']))}">
                                        <?php translate('编辑')?>
                                    </a>
                                </p>
                                <p>
                                    <a href="{:U('Contest/submit', array('id'=>$v['id']))}">
                                        <?php translate('提交')?>
                                    </a>
                                </p>
                            </if>
                        </td>
                    </tr>
                </foreach>
            </table>
        </div>
    </div>
    <div>
        <h4 style="font-size:20px;margin-top:20px;margin-bottom:20px;color:#444;"><?php translate('我的推广')?></h4>
        <table class="table table-hover">
            <tr>
                <th>
                    <?php translate('作品名称')?>
                </th>
                <th>
                    <?php translate('推广服务')?>
                </th>
                <th>
                    <?php translate('购买时间')?>
                </th>
                <th>
                    <?php translate('服务费用')?>
                </th>
            </tr>
            <foreach name="promotions" item="v">
                <tr>
                    <td>
                        <p style="font-size:13px;color:#666;">{$v.titlee}</p>
                        <p style="font-size:13px;color:#666;margin-bottom:0;">{$v.titlec}</p>
                    </td>
                    <td>
                        {$v.promotion}
                    </td>
                    <td>
                        {$v.timestamp|date='Y-m-d H:i:s',###}
                    </td>
                    <td>
                        {RMB $v.price}
                    </td>
                </tr>
            </foreach>
        </table>
        
    </div>
    <div style="text-align:center;">
        <a href="{:U('Contest/promotion')}" class="join">
            <?php translate('推广服务')?>
        </a>   
    </div>
    
</div>
<script>
$(document).ready(function() {
    if ($(window).width() < 550) {
        $('#main ul.nav-tabs span.word').hide();
        $('#main ul.nav-tabs span.fa').show();
    } else {
        $('#main ul.nav-tabs span.word').show();
        $('#main ul.nav-tabs span.fa').hide();
    }

    $(window).resize(function(event) {
        if ($(this).width() < 550) {
            $('#main ul.nav-tabs span.word').hide();
            $('#main ul.nav-tabs span.fa').show();
        } else {
            $('#main ul.nav-tabs span.word').show();
            $('#main ul.nav-tabs span.fa').hide();
        }
    });

    $('#main .remove').click(function() {
        event.preventDefault();
        $p = $(this);
        $p.hide();
        $p.siblings('a.reremove').show();
    });
});
</script>