<style>
#main {
    padding: 30px 6%;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 60px;
}
#main a {
	color: white;
    background-color: #ff7c34;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
    text-decoration: none;
    position: relative;
    top: 40px;
}
</style>
<div id="section1">
	<h3 style="margin-top:0;">第一轮评审</h3>	
	<p>评分进度</p>
	<div id="process">
		
	</div>
</div>
<div id="section2">
	<p>全部作品</p>
	<div id="submissions">
		
	</div>
	<p style="font-size:12px;color:#FFBCBC;">* 请注意第一轮评审从5月1日开始</p>	
	<p style="font-size:12px;color:#FFBCBC;">** 第一轮评审需在5月31日之前完成</p>
	<div style="text-align:center;">
		<a href="">继续评审</a>
	</div>
</div>
