<style>
#main {
    padding: 30px 6%;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.3);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 60px;
}	
#main h3 {
	margin-top: 0;
	font-size: 22px;
}
#main h4 {
	font-size: 18px;
}  
#main p {
	font-size: 12px;
}
#section1 {
	text-align: center;
}
#section2 {
	text-align: center;
	margin-top: 30px;
}
#section21 span, #section22 span {
	margin-right: 6px;
}
#section3 {
	text-align: center;
	margin-top: 30px;
}
#section3 .judge {
	color: white;
    background-color: #ff7c34;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 2px 2px 3px rgba(20, 20, 20, 0.4);
    text-decoration: none;
}
#section3 span.judge {
	background-color: #FFAA7B;
}
</style>
<div id="section1">
	<h3><?php translate("评审标准")?></h3>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<h4><?php translate("策略")?></h4>
			<p style="text-align:left;"><?php translate("是否有明确的目标和策略?<br/>为何启动该设计项目,有否达到预期的效果或影响?<br/>遇到了哪些挑战和难题?")?></p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<h4><?php translate("流程")?></h4>
			<p style="text-align:left;"><?php translate("在过程中,是否系统性地对设计项目进行了管理?<br/>采用了什么方法来管理?<br/>运用了哪些资源?投入了多少资金(是否合理)?<br/>设计项目什么时候开始?持续多长时间?")?></p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<h4><?php translate("成效")?></h4>
			<p style="text-align:left;"><?php translate("它的结果有标准衡量吗?例如:利润,销售额,市场情况,渠道。<br/>是否带来了社会效益?具体效益是什么?受益者是谁?<br/>是否是原创?是否带来了益处?实施情况如何?是否有令人称颂之处?<br/>是否完成了最初的策略目标,或者超额完成了目标?")?></p>
		</div>
	</div>
</div>
<div id="section2">
	<h3 style="text-align:center;margin-bottom:20px;"><?php translate("评审进度")?></h3>
	<div id="section21">
		<p>
			<span><?php translate("第一轮评审")?></span>
			<if condition='$first eq -1'>
				<?php translate("尚未开始");?>
				<elseif condition='$first eq 0'/>
				<?php translate("进行中");?>
				<elseif condition='$first eq 1'/>
				<?php translate("已结束");?>
			</if>
		</p>
	</div>
	<div id="section22">
		<p>
			<span><?php translate("第二轮评审")?></span>
			<if condition='$second eq -1'>
				<?php translate("尚未开始");?>
				<elseif condition='$second eq 0'/>
				<?php translate("进行中");?>
				<elseif condition='$second eq 1'/>
				<?php translate("已结束");?>
			</if>
		</p>
	</div>
</div>
<div id="section3">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<if condition="$first eq 0 and $submit eq 0">
				<a href="{:U('Judge/first')}" class="judge"><?php translate("第一轮评审")?></a>
				<else/>
				<span class="judge"><?php translate("第一轮评审")?></span>
			</if>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<if condition="$second eq 0 and $submit eq 0">
				<a href="{:U('Judge/second')}" class="judge"><?php translate("第二轮评审")?></a>
				<else/>
				<span class="judge"><?php translate("第二轮评审")?></span>
			</if>
		</div>
	</div>
	<div style="margin-top:10px;position:relative;top:40px;">
		<if condition="$submit eq 0">
			<a href="{:U('Judge/submit')}" class="judge" style="padding:10px 30px;"><?php translate("提交评审")?></a>
			<else/>
			<span class="judge" style="padding:10px 30px;"><?php translate("已提交")?></span>
		</if>
	</div>
</div>

